.content-wrapper {
  margin-top: 35px;

  .label-text {
    margin-bottom: 10px !important;
    color: #8c90a3 !important;
    font-family: 'Averta W05 Bold5204651' !important;
    font-size: 1.1rem !important;
    letter-spacing: 1px !important;
    line-height: 1.1rem !important;
    text-transform: uppercase !important;
  }
}
