<ion-header meed class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" text="" icon="arrow-back" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>{{ 'more-module.change-language.header-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="change-language-page override-ion-content-padding">
  <ion-list class="list-wrapper">
    <div *ngFor="let language of changeLanguageFacade.availableLanguage">
      <ion-item (click)="changeLanguageFacade.updateLanguage(language)">
        <div class="clearfix" style="padding: 20px 0;">
          <div class="clearfix item-wrapper">
            <div class="clearfix">
              <span class="list-title">{{ language.name | translate }}</span>
            </div>
            <div class=" icon-arrow" *ngIf="language.language === changeLanguageFacade.selectedLanguage.language">
              <img id="button-view-version-info" src="assets/svg/select.svg" alt="arrow" srcset="" />
            </div>
          </div>
        </div>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
