<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title>{{"p2p-module.other-payee-registration-page.page-title" | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">{{"p2p-module.other-payee-registration-page.content-title" | translate}}</div>
  <ion-list lines="none" class="form" mode="ios">
    <!-- Alias-identifer form -->
    <form [formGroup]="initialForm">
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="alias"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.payee-alias-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="identityTypeName"
          (click)="openIdentifierModal()"
          readonly
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.identifier-placeholder' | translate}}"
        ></ion-input>
        <ion-icon slot="end" name="chevron-down"></ion-icon>
      </ion-item>
    </form>

    <!-- Company Form -->
    <form [formGroup]="companyForm" *ngIf="payeeIdentifier && payeeIdentifier.value === identityTypes.Company">
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="companyName"
          class="ion-margin-start"
          [placeholder]="payeeIdentifier.text"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-input
          (click)="openBankListModal()"
          formControlName="bankName"
          readonly
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.bank-placeholder' | translate}}"
        ></ion-input>
        <ion-icon slot="end" name="chevron-down"></ion-icon>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="identityNumber"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.clabe-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="email"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.email-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
    </form>
    <!-- Clabe Debit Card Form -->
    <form
      [formGroup]="clabeDebitCardForm"
      *ngIf="(payeeIdentifier && payeeIdentifier.value === identityTypes.Clabe) ||(payeeIdentifier && payeeIdentifier.value === identityTypes.DebitCard)"
    >
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="identityNumber"
          class="ion-margin-start"
          [placeholder]="payeeIdentifier.text"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-input
          (click)="openBankListModal()"
          formControlName="bankName"
          readonly
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.bank-placeholder' | translate}}"
        ></ion-input>
        <ion-icon slot="end" name="chevron-down"></ion-icon>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="firstName"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.first-name-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="secondName"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.second-name-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="paternalLastName"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.paternal-last-name-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="maternalLastName"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.maternal-last-name-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="email"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.email-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="phone"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.mobile-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="rfc"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.rfc-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
    </form>
    <!-- Mobile Number Form -->
    <form [formGroup]="mobileForm" *ngIf="payeeIdentifier && payeeIdentifier.value === identityTypes.Mobile">
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="identityNumber"
          class="ion-margin-start"
          [placeholder]="payeeIdentifier.text"
        ></ion-input>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-input
          (click)="openBankListModal()"
          formControlName="bankName"
          readonly
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.bank-placeholder' | translate}}"
        ></ion-input>
        <ion-icon slot="end" name="chevron-down"></ion-icon>
      </ion-item>

      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="firstName"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.first-name-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="secondName"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.second-name-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="paternalLastName"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.paternal-last-name-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="maternalLastName"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.maternal-last-name-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="email"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.email-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="rfc"
          class="ion-margin-start"
          placeholder="{{'p2p-module.other-payee-registration-page.form.rfc-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
    </form>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="white-button" [disabled]="checkButtonDisable()" (click)="next()">
      {{'p2p-module.other-payee-registration-page.next-button-title' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
