<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="header-close-button" id="signup-approved-page-modal-close-btn" slot="start" (click)="dismiss()"></div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div class="header-title" id="signup-approved-page-header-title-text">
      {{ 'signup-module.signup-approved-page.page-title' | translate }}
    </div>
    <div class="header-subtitle" id="signup-approved-page-header-subtitle-text">
      {{ 'signup-module.signup-approved-page.page-subtitle' | translate }}
    </div>
    <div class="vault-img" id="signup-approved-page-vault-img">
      <img src="assets/img/vault-wheel.gif" />
    </div>
    <div class="footer-text" id="signup-approved-page-footer-text">
      {{ 'signup-module.signup-approved-page.footer-text' | translate }}
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="white-button" id="signup-approved-page-next-btn" expand="block" (click)="next()">
      {{ 'signup-module.signup-approved-page.button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
