<ion-content class="safe-area-content">
  <div class="content-wrapper">
    <div class="step-counter">
      <step-counter [step]="'signup-module.terms-conditions-page.step-text'" [stepNo]="3"></step-counter>
    </div>
    <div class="header-title">
      <p>{{ 'signup-module.terms-conditions-page.page-title' | translate }}</p>
    </div>
    <p id="signup-terms-info">
      {{ 'signup-module.terms-conditions-page.page-subtitle' | translate }}
    </p>
    <p id="signup-terms-info">
      {{ 'signup-module.terms-conditions-page.terms_text_1' | translate }}
    </p>
    <form [formGroup]="termsConditionForm" *ngIf="termsConditions.length > 0">
      <ion-list lines="none">
        <ion-item *ngFor="let tc of termsConditions; let i=index">
          <ion-label (click)="showPdf(tc.code,tc.title)">{{tc.title}}</ion-label>
          <ion-checkbox formControlName="{{'tc'+i}}" value="true" mode="md" slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      class="white-button"
      expand="block"
      (click)="acceptTermsConditions()"
      [disabled]="termsConditionForm.invalid"
    >
      {{ 'signup-module.terms-conditions-page.button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
