<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'mobile-check-deposit.header-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mobile-check-deposit-wrapper">
    <div class="amount-block">
      <div class="ion-text-uppercase block-title">{{ 'mobile-check-deposit.amount-label' | translate }}</div>
      <ion-input
        appInputDecimalMask
        type="tel"
        [(decModel)]="mobileCheckDepositFacade.deposit.amount"
        placeholder="$0.00"
      ></ion-input>
    </div>
    <div class="account-divider">
      <div class="left-border"></div>
      <div class="divider-content">
        TO
      </div>
      <div class="right-border"></div>
    </div>
    <div class="account-block">
      <ion-item lines="full">
        <ion-avatar slot="start">
          <span class="img-checking"></span>
        </ion-avatar>
        <ion-label>
          <h2 class="ion-text-uppercase account-info">
            Checking (•••• {{mobileCheckDepositFacade.checkingAccount.accountNumber | slice: -4}})
          </h2>
          <h3 class="amount">${{mobileCheckDepositFacade.checkingAccount.availableBalance}}</h3>
        </ion-label>
      </ion-item>
    </div>
    <div class="scan-check-block">
      <div class="ion-text-uppercase label">{{ 'mobile-check-deposit.scan-check-lebel' | translate }}</div>
      <ion-grid>
        <ion-row>
          <ion-col
            [ngClass]="{'cheque-selected':mobileCheckDepositFacade.chequeImage.front}"
            (click)="mobileCheckDepositFacade.startCapture(mobileCheckDepositFacade.chequeSide.Front)"
          >
            <div *ngIf="mobileCheckDepositFacade.chequeImage.front" class="cheque-block">
              <ion-img class="selected-icon" src="assets/img/icon_check_captured.png"></ion-img>
              <ion-img
                class="cheque-image"
                [src]="mobileCheckDepositFacade.renderImage(mobileCheckDepositFacade.chequeImage.front)"
              ></ion-img>
            </div>

            <div *ngIf="!mobileCheckDepositFacade.chequeImage.front" class="image-card">
              <ion-img src="assets/img/camera.png"></ion-img>
              <ion-label>{{ 'mobile-check-deposit.front-scan-check-lebel' | translate }}</ion-label>
            </div>
          </ion-col>
          <ion-col
            [ngClass]="{'cheque-selected':mobileCheckDepositFacade.chequeImage.back}"
            (click)="mobileCheckDepositFacade.startCapture(mobileCheckDepositFacade.chequeSide.Back)"
          >
            <div *ngIf="mobileCheckDepositFacade.chequeImage.back" class="cheque-block">
              <ion-img class="selected-icon" src="assets/img/icon_check_captured.png"></ion-img>
              <ion-img
                class="cheque-image"
                [src]="mobileCheckDepositFacade.renderImage(mobileCheckDepositFacade.chequeImage.back)"
              ></ion-img>
            </div>
            <div *ngIf="!mobileCheckDepositFacade.chequeImage.back" class="image-card">
              <ion-img src="assets/img/camera.png"></ion-img>
              <ion-label>{{ 'mobile-check-deposit.back-scan-check-lebel' | translate }}</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="note-block">
      <div class="block-title">{{ 'mobile-check-deposit.note-label' | translate }}</div>
      <ion-input
        [(ngModel)]="mobileCheckDepositFacade.deposit.notes"
        type="text"
        placeholder="{{ 'mobile-check-deposit.note-input-placeholder' | translate }}"
      >
      </ion-input>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-content ion-no-border">
  <ion-toolbar>
    <ion-button
      [disabled]="!mobileCheckDepositFacade.formValidation"
      (click)="mobileCheckDepositFacade.submitCheckDeposit()"
      expand="block"
      class="white-button"
    >
      {{ 'mobile-check-deposit.submit-button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
