<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{ 'more-module.atm-finder-page.header-title' | translate }}
    </ion-title>
  </ion-toolbar>
  <div class="tab-bar-block">
    <div [ngClass]="selectedTab ==='map' ? 'active-tab-item':'tab-item'" (click)="switchTab('map')">
      {{ 'more-module.atm-finder-page.map-view-tab' | translate }}
    </div>
    <div [ngClass]="selectedTab ==='list' ? 'active-tab-item':'tab-item'" (click)="switchTab('list')">
      {{ 'more-module.atm-finder-page.atm-list-tab' | translate }}
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="content-wrapper" [ngSwitch]="selectedTab">
    <div class="map-wrapper" *ngSwitchCase="'map'">
      <agm-map [latitude]="facade.coords.latitude" [longitude]="facade.coords.longitude" [zoom]="facade.zoom">
        <agm-marker
          *ngFor="let atm of facade.atms"
          [latitude]="atm.location.latitude"
          [longitude]="atm.location.longitude"
        >
          <agm-info-window>
            {{atm.locationName}} <br />
            {{atm.streetAddress}}, {{atm.zipCode}}, {{atm.city}}, {{atm.state}}</agm-info-window
          >
        </agm-marker>
      </agm-map>
    </div>
    <div class="list-wrapper" *ngSwitchCase="'list'">
      <div class="list-item" *ngFor="let atm of facade.atms">
        <div class="map-image">
          <img [src]="atm.mapUrl" />
        </div>
        <div class="item-content">
          <div class="bank-name">{{atm.locationName}}</div>
          <div class="bank-address">{{atm.streetAddress}}, {{atm.zipCode}}, {{atm.city}}, {{atm.state}}</div>
        </div>
        <div class="item-distance">{{atm.distance}} mi</div>
      </div>
    </div>
  </div>
</ion-content>
