<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div class="step-counter">
      <step-counter [step]="'Step 3 of 3'" [stepNo]="3"></step-counter>
    </div>
    <div class="header-title">Account Selection</div>
    <form>
      <ion-list>
        <ion-radio-group name="account" value="full">
          <ion-item lines="none" class="radio-item">
            <ion-label>Full</ion-label>
            <ion-radio slot="start" mode="md" value="full"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label class="ion-text-wrap"
              >I am applying for a Full Account with no deposit or transaction restriction..</ion-label
            >
          </ion-item>
          <ion-item lines="none" class="radio-item">
            <ion-label>Express</ion-label>
            <ion-radio slot="start" mode="md" value="express"></ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label class="ion-text-wrap"
              >I am applying for an Express Account and understand that I will have monthly deposit or transaction
              restrictions</ion-label
            >
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="white-button" expand="block" [routerLink]="['/signup/personal-information']">
      {{ 'signup-module.signup-address-page.button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
