<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'move-money-module.mail-check.bill-pay.page-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="add-payees-block">
      <ion-fab-button (click)="addPayee()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <div class="title" (click)="addPayee()">
        {{ 'move-money-module.mail-check.bill-pay.add-payee-button-title' | translate }}
      </div>
    </div>
    <div class="my-payees-block">
      <div class="title">{{ 'move-money-module.mail-check.bill-pay.add-payee-button-title' | translate }}</div>
      <div class="payee-item" *ngFor="let payee of payeeList" (click)="goToBillPayment(payee)">
        <div class="avatar">{{payee.fullName.slice(0,1)}}</div>
        <div class="payee-name">{{payee.fullName}}</div>
      </div>
    </div>
  </div>
</ion-content>
