<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="online-offer-page-back-btn" mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="online-offer-container">
  <div class="offer-image">
    <mbc-image-loader
      id="online-offer-page-image-loader"
      [src]="_offer.image"
      [title]="_offer.merchant"
    ></mbc-image-loader>
  </div>
  <div class="store-name">
    <p id="online-offer-page-store-name">{{_offer.merchant}}</p>
  </div>
  <div class="offer-description">
    <p id="online-offer-page-description-text">{{ _offer.tenWord }}</p>
  </div>
  <div class="shop-now-btn">
    <ion-button
      id="online-offer-page-description-text"
      class="white-button"
      expand="block"
      (click)="goToExternalLink()"
    >
      {{ 'meed-extra-module.online-offer-page.shop-now-text' | translate }}
    </ion-button>
  </div>
  <div class="devider"></div>
  <div class="header-text">
    <p id="online-offer-page-offer-details-text">
      {{ 'meed-extra-module.online-offer-page.offer-details-text' | translate }}
    </p>
  </div>
  <div class="sub-header-text">
    <p id="online-offer-page-sub-header-text">
      {{ _offer.twentyWord }}
    </p>
  </div>
</ion-content>
