<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'more-module.change-password.page-title'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="change-password-form-wrapper">
      <form [formGroup]="changePasswordForm" novalidate>
        <div class="title-input-field">
          <div class="field-title">{{'more-module.change-password.current-password-label'|translate}}</div>
          <div class="right-content-input">
            <ion-input
              id="password"
              class="white-input"
              clearOnEdit="false"
              [type]="isCurrentPasswordVisible ? 'text' : 'password'"
              formControlName="currentPassword"
              placeholder="{{'more-module.change-password.current-password-placeholder' | translate }}"
            ></ion-input>
            <div class="right-content" (click)="changeInputTypeVisibility('isCurrentPasswordVisible')">
              <p>
                {{ (isCurrentPasswordVisible ? 'login-module.create-login-page.login-form.hide-password' :
                'login-module.create-login-page.login-form.show-password') | translate }}
              </p>
            </div>
          </div>
        </div>

        <div class="change-password-form-header-title">{{'more-module.change-password.title'|translate}}</div>
        <div class="title-input-field">
          <div class="field-title">{{'more-module.change-password.new-password-label'|translate}}</div>
          <div class="right-content-input">
            <ion-input
              id="new-password"
              class="white-input"
              clearOnEdit="false"
              [type]="isPasswordVisible ? 'text' : 'password'"
              formControlName="password"
              placeholder="{{ 'more-module.change-password.new-password-placeholder' | translate }}"
            ></ion-input>
            <div class="right-content" (click)="changeInputTypeVisibility('isPasswordVisible')">
              <p>
                {{ (isPasswordVisible ? 'login-module.create-login-page.login-form.hide-password' :
                'login-module.create-login-page.login-form.show-password') | translate }}
              </p>
            </div>
          </div>
          <div class="validation-tags">
            <div class="tags-row">
              <span
                [ngClass]="
                changePasswordForm.controls.password.errors?.oneLowerCase ||
                changePasswordForm.controls.password.errors?.required
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.lowercase' | translate }}</span
              >
              <span
                [ngClass]="
                changePasswordForm.controls.password.errors?.oneUpperCase ||
                changePasswordForm.controls.password.errors?.required
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.uppercase' | translate }}</span
              >
              <span
                [ngClass]="
                changePasswordForm.controls.password.errors?.oneNumber ||
                changePasswordForm.controls.password.errors?.required
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.number' | translate }}</span
              >
            </div>
            <div class="tags-row">
              <span
                [ngClass]="
                changePasswordForm.controls.password.errors?.allowedPasswordSpecialChars ||
                changePasswordForm.controls.password.errors?.required
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.special-character' | translate }}</span
              >
              <span
                [ngClass]="
                changePasswordForm.controls.password.errors?.minlength ||
                changePasswordForm.controls.password.errors?.required
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.characters' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="title-input-field">
          <div class="field-title">{{ 'more-module.change-password.repeat-password-label' | translate }}</div>
          <div class="right-content-input">
            <ion-input
              id="repeatPassword"
              class="white-input"
              clearOnEdit="false"
              [type]="isRepeatPasswordVisible ? 'text' : 'password'"
              formControlName="repeatPassword"
              placeholder="{{ 'more-module.change-password.repeat-password-label' | translate }}"
            ></ion-input>
            <div class="right-content" (click)="changeInputTypeVisibility('isRepeatPasswordVisible')">
              <p>
                {{ (isRepeatPasswordVisible ? 'login-module.create-login-page.login-form.hide-password' :
                'login-module.create-login-page.login-form.show-password') | translate }}
              </p>
            </div>
          </div>
          <div class="validation-tags">
            <div class="tags-row">
              <span
                [ngClass]="
                changePasswordForm.controls.repeatPassword.invalid || changePasswordForm.controls.repeatPassword.errors?.mustMatch
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.password-match' | translate }}</span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="white-button" expand="block" (click)="changePassword()" [disabled]="changePasswordForm.invalid">
      {{'more-module.change-password.btn-change-password'|translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
