<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479603772557-9kbjukfor5pkb2a1ivf8bipijfdcloug.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479603772557-9kbjukfor5pkb2a1ivf8bipijfdcloug</string>
	<key>API_KEY</key>
	<string>AIzaSyDCZV8F158LsJmM7FFiix0ISTHki1J14GE</string>
	<key>GCM_SENDER_ID</key>
	<string>479603772557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mx.meedbankingclub</string>
	<key>PROJECT_ID</key>
	<string>mx-meedbankingclub</string>
	<key>STORAGE_BUCKET</key>
	<string>mx-meedbankingclub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479603772557:ios:8c280a74fce67706c8e6c4</string>
	<key>DATABASE_URL</key>
	<string>https://mx-meedbankingclub.firebaseio.com</string>
</dict>
</plist>