.content-wrapper {
  margin-top: 35px;

  .title-input-field {
    margin-bottom: 26px;
    .field-title {
      margin-bottom: 10px;
      color: #8c90a3;
      font-family: 'Averta W05 Bold5204651';
      font-size: 1.1rem;
      letter-spacing: 1px;
      line-height: 1.1rem;
      text-transform: uppercase;
    }
  }
}
