<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="direct-deposit-info-content">
  <div class="content-wrapper">
    <div class="direct-diposit-info-header" id="direct-deposit-info-page-header-title-text">
      <p>{{ 'deposit.direct-deposit-info.header-text' | translate }}</p>
    </div>
    <div class="direct-diposit-info-text1" id="direct-deposit-info-page-direct-diposit-info-text-one">
      <p>{{ 'deposit.direct-deposit-info.info-text-1' | translate }}</p>
    </div>
    <div class="direct-diposit-info-text1" id="direct-deposit-info-page-direct-diposit-info-text-two">
      <p>{{ 'deposit.direct-deposit-info.info-text-2' | translate }}</p>
    </div>

    <div class="direct-diposit-info-text1" id="direct-deposit-info-page-direct-diposit-info-text-three">
      <p>{{ 'deposit.direct-deposit-info.info-text-3' | translate }}</p>
    </div>

    <div class="direct-diposit-info-text2" id="direct-deposit-info-page-direct-diposit-info-text-four">
      <p>{{ 'deposit.direct-deposit-info.info-text-4' | translate }}</p>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      class="white-button"
      id="direct-deposit-info-page-continue-btn"
      expand="block"
      (click)="directDepositFacade.continue()"
    >
      {{ 'deposit.direct-deposit-info.continue-btn-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
