<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title id="request-money-confirm-page-header-title-text">
      {{'move-money-module.request-money.confirm.page-title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="confirm-page">
    <div class="ion-text-center amount-block">
      <div class="title" id="request-money-confirm-page-amount-title-text">
        {{'move-money-module.request-money.confirm.amount-title' | translate}}
      </div>
      <div class="amount" id="request-money-confirm-page-amount">${{facade.amount}}</div>
    </div>
    <div class="request-block">
      <div class="title" id="request-money-confirm-page-request-title-text">
        {{'move-money-module.request-money.confirm.request-title' | translate}}
      </div>
      <ion-list>
        <ion-item *ngFor="let fundRequest of facade.fundRequests" lines="inset">
          <ion-label class="ion-text-wrap">
            <h3 class="title-label" id="request-money-confirm-page-receiver-email-text">
              {{fundRequest.receiverEmail}}
            </h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div class="note-block">
      <div class="title" id="request-money-confirm-page-note-title-text">
        {{'move-money-module.request-money.confirm.note-title' | translate}}
      </div>
      <div class="description" id="request-money-confirm-page-message-text">{{facade.message}}</div>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-content ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            (click)="facade.submitFundRequests()"
            expand="block"
            class="white-button"
            id="request-money-confirm-page-fund-request-btn"
          >
            {{'move-money-module.request-money.confirm.request-money-button' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            (click)="facade.backToEdit()"
            expand="block"
            fill="clear"
            class="edit-btn"
            id="request-money-confirm-page-edit-btn"
          >
            {{'move-money-module.request-money.confirm.edit-button' | translate}}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="facade.cancelSendMoney()"
            id="request-money-confirm-page-cancel-send-money-btn"
            expand="block"
            fill="clear"
            class="cancel-btn"
          >
            {{'move-money-module.request-money.confirm.cancel-button' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
