<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'meed-extra-module.nearby-offer-page.header-title' | translate }}</ion-title>
    <div slot="end" (click)="goToSearchPage()">
      <img class="header-search-img" src="assets/img/white-search.png" alt="search" />
    </div>
  </ion-toolbar>
</ion-header>

<div class="alphabet-list">
  <ul>
    <li *ngFor="let alphabet of alphabets" (click)="scrollTo(alphabet)">
      {{ alphabet }}
    </li>
  </ul>
</div>

<ion-content>
  <div class="nearby-wrapper">
    <div class="location-text">
      <p>{{ 'meed-extra-module.nearby-offer-page.location-text' | translate }}</p>
    </div>
    <div class="my-location-text">
      <p>
        {{ this.nearbyOfferFacade.address.postalCode }} {{ this.nearbyOfferFacade.address.thoroughfare }} {{
        this.nearbyOfferFacade.address.locality ? this.nearbyOfferFacade.address.locality :
        this.nearbyOfferFacade.address.administrativeArea }}
      </p>
    </div>
    <div class="zip-code-search-wrapper">
      <form [formGroup]="zipOfferForm" (ngSubmit)="findOffers(zipOfferForm.value.zipCode)">
        <div class="nput-field-container">
          <ion-input
            class="white-input"
            id="zipCode"
            type="number"
            hide-keyboard
            placeholder="{{ 'meed-extra-module.nearby-offer-page.zip-code-placeholder' | translate }}"
            formControlName="zipCode"
            required
          ></ion-input>
          <ion-button type="submit" [disabled]="zipOfferForm.invalid" class="grey-outline-button" expand="block">
            {{ 'meed-extra-module.nearby-offer-page.search-btn' | translate }}
          </ion-button>
        </div>
      </form>
    </div>

    <div
      *ngIf="!this.nearbyOfferFacade.locationAllowed && this.nearbyOfferFacade.isMobileDevice()"
      class="gps-allow-wrapper"
    >
      <div class="glob-icon">
        <p>🌎</p>
      </div>
      <div class="gps-header">
        <p>{{ 'meed-extra-module.nearby-offer-page.gps-header' | translate }}</p>
      </div>
      <div class="gps-sub-header">
        <p>{{ 'meed-extra-module.nearby-offer-page.gps-subheader' | translate }}</p>
      </div>
      <ion-button class="white-button" expand="block" (click)="this.nearbyOfferFacade.openLocationAuthorization()">
        {{ 'meed-extra-module.nearby-offer-page.gps-button' | translate }}
      </ion-button>
    </div>

    <div class="offer-result" *ngIf="this.nearbyOfferFacade.locationAllowed">
      <div class="alphabetic-list-wrapper">
        <div class="alphabetic-offer-list">
          <div *ngFor="let subOfferList of offers$ | async" id="{{ subOfferList[0].index }}">
            <div *ngFor="let offer of subOfferList">
              <offer-card *ngIf="!offer.index" (OfferClick)="setOffer($event)" [offer]="offer"> </offer-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
