<ion-content>
  <div class="content-wrapper">
    <div class="header-title">
      {{ 'signup-module.signup-deny-page.page-title' | translate }}
    </div>
    <div class="header-subtitle">
      {{ 'signup-module.signup-deny-page.page-subtitle' | translate }} <br />
      <br />
      {{ 'signup-module.signup-deny-page.page-subtitle1' | translate }}
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="white-button" expand="block" (click)="next()">
      Done
    </ion-button>
  </ion-toolbar>
</ion-footer>
