<ion-header class="ion-no-border">
  <account-transaction-header
    title="{{ 'dashboard-module.transaction-details.title-text' | translate }}"
    [accountInfo]="(transactionDetailsFacade.account)"
  >
    <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
  </account-transaction-header>
</ion-header>

<ion-content class="content-wrapper">
  <ng-container *ngIf="(transactionDetailsFacade.transaction | async) as transaction">
    <account-balance
      title="{{ 'dashboard-module.transaction-details.amount-text' | translate }}"
      [amount]="transaction?.amount"
      balanceColor="#435cdc"
    >
    </account-balance>
    <transaction-details-content [transaction]="transaction"> </transaction-details-content>
  </ng-container>
</ion-content>
