<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div class="step-counter">
      <step-counter [step]="'Step 3 of 3'" [stepNo]="3"></step-counter>
    </div>
    <div class="header-title">Where do you Live?</div>
    <form>
      <ion-list lines="none">
        <ion-item mode="ios">
          <ion-input class="white-input" type="text" placeholder="Address Type"></ion-input>
          <ion-icon name="chevron-down"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input class="white-input" type="text" placeholder="Property Type"></ion-input>
          <ion-icon name="chevron-down"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input class="white-input" type="text" placeholder="Street Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="white-input" type="text" placeholder="Outdoor Number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="white-input" type="text" placeholder="Interior Number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="white-input" type="text" placeholder="Post code"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="background-input" type="text" placeholder="State"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="background-input" type="text" placeholder="Municipality"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="background-input" type="text" placeholder="City"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="white-input" type="text" placeholder="Suburb"></ion-input>
          <ion-icon name="chevron-down"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input class="white-input" type="text" placeholder="Time @ Residence"></ion-input>
          <ion-icon name="chevron-down"></ion-icon>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="white-button" expand="block" [routerLink]="['/signup/beneficiary-information']">
      {{ 'signup-module.signup-address-page.button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
