<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div class="step-counter">
      <step-counter [step]="'signup-module.funding-information-page.step-text'" [stepNo]="3"></step-counter>
    </div>
    <div class="header-title">{{ 'signup-module.funding-information-page.page-title' | translate }}</div>
    <div class="content-block">
      <ion-list lines="none">
        <ion-radio-group name="auto" value="yes" (ionChange)="checkSelfFund($event)">
          <ion-list-header>
            <ion-label
              >{{ 'signup-module.funding-information-page.fund-provider-selector-title' | translate }}</ion-label
            >
          </ion-list-header>
          <ion-item>
            <ion-label
              >{{ 'signup-module.funding-information-page.fund-provider-selector-option-one' | translate }}</ion-label
            >
            <ion-radio mode="md" slot="start" value="yes"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label
              >{{ 'signup-module.funding-information-page.fund-provider-selector-option-two' | translate }}</ion-label
            >
            <ion-radio mode="md" slot="start" value="no"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <div class="content-block">
      <form [formGroup]="fundingInformationForm" *ngIf="!isSelfFund">
        <ion-list lines="none">
          <ion-item>
            <ion-input
              [ngClass]="
          fundingInformationForm.controls.firstName.invalid  ? 'error-input' : 'white-input'
        "
              id="first-name"
              type="text"
              formControlName="firstName"
              placeholder="{{ 'signup-module.funding-information-page.funding-info-form.first-name' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              id="second-name"
              class="white-input"
              type="text"
              formControlName="secondName"
              placeholder="{{ 'signup-module.funding-information-page.funding-info-form.second-name' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              id="paternal-last-name"
              class="white-input"
              type="text"
              formControlName="paternalLastName"
              placeholder="{{ 'signup-module.funding-information-page.funding-info-form.paternal-last-name' | translate }}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              id="maternal-last-name"
              class="white-input"
              type="text"
              formControlName="maternalLastName"
              placeholder="{{ 'signup-module.funding-information-page.funding-info-form.maternal-last-name' | translate }}"
            ></ion-input>
          </ion-item>
          <div class="datetime-input">
            <ion-item lines="none">
              <ion-datetime
                [ngClass]="
              fundingInformationForm.controls.dateOfBirth.invalid  ? 'error-input' : 'white-input'
            "
                displayFormat="{{ 'signup-module.funding-information-page.funding-info-form.date-of-birth-display-format' | translate }}"
                type="text"
                [max]="maxDate"
                formControlName="dateOfBirth"
                placeholder="{{ 'signup-module.funding-information-page.funding-info-form.date-of-birth' | translate }}"
              ></ion-datetime>

              <ion-icon name="chevron-down"></ion-icon>
            </ion-item>
          </div>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      class="white-button"
      expand="block"
      (click)="next()"
      [disabled]="isSelfFund === true ? false : fundingInformationForm.invalid"
    ></ion-button>
  </ion-toolbar>
</ion-footer>
