<ion-header class="white-header ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div class="step-counter">
      <step-counter [step]="'signup-module.funding-information-page.step-text'" [stepNo]="3"></step-counter>
    </div>
    <div class="header-title">{{ 'signup-module.funding-information-page.page-title' | translate }}</div>
    <div class="content-block">
      <ion-list lines="none">
        <ion-radio-group (ionChange)="checkFundMyself()" [(ngModel)]="fundMyself">
          <ion-list-header>
            <ion-label
              >{{ 'signup-module.funding-information-page.fund-provider-selector-title' | translate }}</ion-label
            >
          </ion-list-header>
          <ion-item>
            <ion-label
              >{{ 'signup-module.funding-information-page.fund-provider-selector-option-one' | translate }}</ion-label
            >
            <ion-radio mode="md" slot="start" [value]="true"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label
              >{{ 'signup-module.funding-information-page.fund-provider-selector-option-two' | translate }}</ion-label
            >
            <ion-radio mode="md" slot="start" [value]="false"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </div>
    <div class="content-block" *ngIf="!fundMyself">
      <form [formGroup]="fundingInformationForm">
        <ion-list lines="none">
          <ion-item>
            <ion-input
              [ngClass]="fundingInformationForm.controls.firstName.invalid && (fundingInformationForm.controls.firstName.dirty || fundingInformationForm.controls.firstName.touched) ? 'error-input' : 'white-input'"
              id="first-name"
              type="text"
              formControlName="firstName"
              placeholder="{{ 'signup-module.funding-information-page.funding-info-form.first-name' | translate }}"
              [appMaskInput]="onlyWords"
              appInputTrimWhitespace
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              id="second-name"
              class="white-input"
              type="text"
              formControlName="secondName"
              placeholder="{{ 'signup-module.funding-information-page.funding-info-form.second-name' | translate }}"
              [appMaskInput]="onlyWords"
              appInputTrimWhitespace
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              id="paternal-last-name"
              [ngClass]="fundingInformationForm.controls.paternalLastName.invalid && (fundingInformationForm.controls.paternalLastName.dirty || fundingInformationForm.controls.paternalLastName.touched) ? 'error-input' : 'white-input'"
              type="text"
              formControlName="paternalLastName"
              placeholder="{{ 'signup-module.funding-information-page.funding-info-form.paternal-last-name' | translate }}"
              [appMaskInput]="onlyWords"
              appInputTrimWhitespace
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              id="maternal-last-name"
              class="white-input"
              type="text"
              formControlName="maternalLastName"
              placeholder="{{ 'signup-module.funding-information-page.funding-info-form.maternal-last-name' | translate }}"
              [appMaskInput]="onlyWords"
              appInputTrimWhitespace
            ></ion-input>
          </ion-item>

          <ion-item class="date-input">
            <ion-datetime
              [ngClass]="fundingInformationForm.controls.dateOfBirth.invalid && (fundingInformationForm.controls.dateOfBirth.dirty || fundingInformationForm.controls.dateOfBirth.touched) ? 'error-input' : 'white-input'"
              displayFormat="{{ 'signup-module.funding-information-page.funding-info-form.date-of-birth-display-format' | translate }}"
              type="text"
              [max]="maximumDate"
              formControlName="dateOfBirth"
              placeholder="{{ 'signup-module.funding-information-page.funding-info-form.date-of-birth' | translate }}"
            ></ion-datetime>
            <ion-icon name="chevron-down"></ion-icon>
          </ion-item>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      class="white-button"
      expand="block"
      (click)="fundInformationFormSubmit()"
      [disabled]="!fundMyself && fundingInformationForm.invalid"
    >
      {{ 'signup-module.funding-information-page.button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
