ion-content {
  --padding-top: 0 !important;
}
.content-wrapper {
  .account-wrapper {
    .account {
      height: 16vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid #ebedf2;
      .account-icon {
        margin-right: 15px;
        .checking,
        .savings {
          height: 40px;
          width: 40px;
          background-color: #e6fbf4;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .savings {
          background-color: #fff6de;
        }
        img {
          height: 24px;
          width: 24px;
        }
      }
      .account-input-wrapper {
        .account-title {
          color: #8c90a3;
          font-family: 'Averta W05 Bold5204651';
          font-size: 1.1rem;
          letter-spacing: 1px;
          line-height: 1.6rem;
          text-transform: uppercase;
        }
        .account-input {
          ion-input {
            font-family: 'Averta W05 Bold5204651';
            font-size: 1.9rem;
            letter-spacing: 0.2px;
            line-height: 2.4rem;
            --color: #070a18;
            --padding-bottom: 0;
            --padding-end: 0;
            --padding-start: 0;
            --padding-top: 0;
            --placeholder-color: #d4d7e2;
          }
        }
      }
    }
    .max-amount-error {
      margin-top: 15px;
      color: #fe4c55;
      font-family: 'Averta W05 Regular';
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 16px;
    }
  }
  .subscription-fee-wrapper {
    margin-top: 40px;
    .subscription-title {
      color: #8c90a3;
      font-family: 'Averta W05 Regular';
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 16px;
      text-transform: uppercase;
    }
    .subscription-amount {
      margin-top: 10px;
      color: #070a18;
      font-family: 'Averta W05 Regular';
      font-size: 16px;
      letter-spacing: -0.25px;
      line-height: 24px;
    }
  }

  .total-amount-wrapper {
    margin-top: 40px;
    .total-title {
      color: #8c90a3;
      font-family: 'Averta W05 Regular';
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 16px;
      text-transform: uppercase;
    }
    .total-amount {
      margin-top: 10px;
      color: #070a18;
      font-family: 'Averta W05 Bold5204651';
      font-size: 3rem;
      letter-spacing: -0.25px;
      line-height: 3rem;
    }
  }
}
