<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="invex-payee-registration-page-back-btn" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title id="invex-payee-registration-page-header-title"
      >{{"p2p-module.invex-payee-registration-page.page-title" | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">{{"p2p-module.invex-payee-registration-page.content-title" | translate}}</div>
  <ion-list lines="none" class="form" mode="ios">
    <form [formGroup]="contactForm">
      <ion-item class="ion-no-padding">
        <ion-input
          formControlName="alias"
          id="invex-payee-registration-page-alias-input"
          class="ion-margin-start"
          placeholder="{{'p2p-module.invex-payee-registration-page.payee-alias-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
      <ion-item class="ion-no-padding" (click)="openIdentifierModal()">
        <ion-input
          formControlName="identityName"
          readonly
          class="ion-margin-start"
          id="invex-payee-registration-page-identity-Name-input"
          placeholder="{{'p2p-module.invex-payee-registration-page.identifier-placeholder' | translate}}"
        ></ion-input>
        <ion-icon slot="end" name="chevron-down"></ion-icon>
      </ion-item>

      <div class="second-step" *ngIf="contactForm.value.identityName">
        <ion-item
          class="ion-no-padding"
          [ngClass]="{'has-error': contactForm.controls.identityNumber.errors && (contactForm.controls.identityNumber.dirty || contactForm.controls.identityNumber.touched)}"
        >
          <ion-input
            formControlName="identityNumber"
            id="invex-payee-registration-page-identit-Number-input"
            class="ion-margin-start"
            [placeholder]="contactForm.value.identityName"
          ></ion-input>
        </ion-item>
        <ion-item
          class="ion-no-padding"
          [ngClass]="{'has-error': contactForm.controls.email.errors && (contactForm.controls.email.dirty || contactForm.controls.email.touched)}"
        >
          <ion-input
            formControlName="email"
            id="invex-payee-registration-page-email-input"
            class="ion-margin-start"
            placeholder="{{'p2p-module.invex-payee-registration-page.form.email-placeholder' | translate}}"
          ></ion-input>
        </ion-item>
        <ion-item
          class="ion-no-padding"
          [ngClass]="{'has-error': contactForm.controls.phone.errors && (contactForm.controls.phone.dirty || contactForm.controls.phone.touched)}"
        >
          <ion-input
            formControlName="phone"
            id="invex-payee-registration-page-phone-input"
            class="ion-margin-start"
            placeholder="{{'p2p-module.invex-payee-registration-page.form.mobile-placeholder' | translate}}"
          ></ion-input>
        </ion-item>
      </div>
    </form>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      class="white-button"
      id="invex-payee-registration-page-next-btn"
      [disabled]="contactForm.invalid"
      (click)="next()"
    >
      {{"p2p-module.invex-payee-registration-page.next-button-title" | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
