<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'move-money-module.transfer-from-other-bank-page.header-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper" *ngIf="!isVisiblePayStand">
    <div class="content-title">{{ 'move-money-module.transfer-from-other-bank-page.page-title' | translate }}</div>
    <ion-radio-group [(ngModel)]="transferOption">
      <ion-grid>
        <ion-row class="border-bottom">
          <ion-col size="11" class="ion-align-self-center">
            <ion-item lines="none">
              <ion-radio slot="start" [value]="registrationFeePaymentType.ECHECK" mode="md"></ion-radio>
              <div class="radio-content">
                <div class="radio-title">
                  {{ 'move-money-module.transfer-from-other-bank-page.echeck-title' | translate }}
                </div>
                <div class="radio-subtitle">
                  {{ 'move-money-module.transfer-from-other-bank-page.echeck-subtitle' | translate }}
                </div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center">
            <div (click)="openCheckModal()">
              <img src="assets/svg/question-mark.svg" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="11" class="ion-align-self-center">
            <ion-item lines="none">
              <ion-radio slot="start" mode="md" disabled="true"></ion-radio>
              <div class="radio-content">
                <div class="radio-title">
                  {{ 'move-money-module.transfer-from-other-bank-page.other-bank-title' | translate }}
                </div>
                <div class="radio-subtitle">
                  {{ 'move-money-module.transfer-from-other-bank-page.other-bank-subtitle' | translate }}
                </div>
              </div>
            </ion-item>
          </ion-col>
          <ion-col size="1" class="ion-align-self-center">
            <div (click)="openETransferModal()">
              <img src="assets/svg/question-mark.svg" />
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
  </div>
  <div class="pay-stand-iframe" *ngIf="isVisiblePayStand">
    <div id="ps_container_id"></div>
    <div id="ps_checkout_load" ps-checkoutType="checkout_payment" ps-mode="embed"></div>
  </div>
</ion-content>
<ion-footer class="ion-no-border" *ngIf="!isVisiblePayStand">
  <ion-toolbar>
    <ion-button (click)="continue()" class="white-button" expand="block">
      {{ 'move-money-module.transfer-from-other-bank-page.button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
