<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back" id="personal-detail-page-back-btn"></ion-back-button>
    </ion-buttons>
    <ion-title id="personal-detail-page-header-title-text">
      {{'more-module.personal-details.header-title' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" *ngIf="(facade.customer$ | async) as customer">
    <ion-item>
      <div class="detail-content">
        <ion-label class="ion-text-uppercase detail-header" id="personal-detail-page-full-name-text">
          {{'more-module.personal-details.full-name' | translate}}
        </ion-label>
        <ion-item class="ion-no-padding" lines="none">
          <ion-label class="details-info" id="personal-detail-page-name-text">
            {{customer.firstName?customer.firstName+' ':''}} {{customer.maternalLastName?customer.maternalLastName+'
            ':''}} {{customer.paternalLastName?customer.paternalLastName+' ':''}}
          </ion-label>
          <ion-button
            fill="clear"
            slot="end"
            class="ion-text-uppercase"
            id="personal-detail-page-name-edit-btn"
            (click)="facade.showEditFullNameInfoModal()"
          >
            {{'more-module.personal-details.btn-edit' | translate}}</ion-button
          >
        </ion-item>
      </div>
    </ion-item>

    <ion-item>
      <div class="detail-content">
        <ion-label class="ion-text-uppercase detail-header" id="personal-detail-page-name-or-nickname-text">
          {{'more-module.personal-details.name-or-nickname' | translate}}
        </ion-label>
        <ion-item class="ion-no-padding" lines="none">
          <ion-label class="details-info" id="personal-detail-page-name-or-nickname-text">
            {{customer.nickname}}
          </ion-label>
          <ion-button
            fill="clear"
            slot="end"
            class="ion-text-uppercase"
            id="personal-detail-page-name-or-nickname-edit-btn"
            (click)="openModal('nickname')"
          >
            {{'more-module.personal-details.btn-edit' | translate}}</ion-button
          >
        </ion-item>
      </div>
    </ion-item>

    <ion-item>
      <div class="detail-content">
        <ion-label class="ion-text-uppercase detail-header" id="personal-detail-page-street-address-label">
          {{'more-module.personal-details.street-address' | translate}}</ion-label
        >
        <ion-item class="ion-no-padding" lines="none">
          <ion-label class="details-info">
            <div class="street-address" *ngIf="customer.addresses" id="personal-detail-page-street-address">
              <div>
                {{customer.addresses[0].street}}
                <span>
                  {{'more-module.personal-details.outdoor-number-with-prefix' |
                  translate:{outdoorNumber:customer.addresses[0].outdoorNumber} }}
                </span>
                <span *ngIf="customer.addresses[0].interiorNumber">
                  {{'more-module.personal-details.interior-number-with-prefix' |
                  translate:{interiorNumber:customer.addresses[0].interiorNumber} }}
                </span>
              </div>
              <div>
                {{ customer.addresses[0].city }}.
              </div>
              <div *ngIf="customer.addresses[0].postCode">
                {{'more-module.personal-details.postcode-with-prefix' |
                translate:{postCode:customer.addresses[0].postCode} }}
              </div>
              <div>
                <span *ngIf="customer.addresses[0].municipality">
                  {{ customer.addresses[0].municipality }},
                </span>
                {{ customer.addresses[0].state }}.
              </div>
            </div>
          </ion-label>
          <ion-button
            fill="clear"
            slot="end"
            class="ion-align-self-start ion-text-uppercase"
            id="personal-detail-page-street-address-btn"
            (click)="goToChangeAddress()"
          >
            {{'more-module.personal-details.btn-edit' | translate}}</ion-button
          >
        </ion-item>
      </div>
    </ion-item>
    <ion-item>
      <div class="detail-content">
        <ion-label class="ion-text-uppercase detail-header" id="personal-detail-page-personal-details-email"
          >{{'more-module.personal-details.email' | translate}}
        </ion-label>
        <ion-item class="ion-no-padding" lines="none">
          <ion-label class="details-info ion-text-wrap" id="personal-detail-page-customer-email">
            {{customer.email}}
          </ion-label>
          <ion-button
            fill="clear"
            slot="end"
            class="ion-text-uppercase"
            id="personal-detail-page-customer-email-edit-btn"
            (click)="openModal('email')"
          >
            {{'more-module.personal-details.btn-edit' | translate}}</ion-button
          >
        </ion-item>
      </div>
    </ion-item>

    <ion-item lines="none">
      <div class="detail-content">
        <ion-label class="detail-header ion-text-uppercase" id="personal-detail-page-personal-details-phone">
          {{'more-module.personal-details.phone' | translate}}
        </ion-label>
        <div>
          <ion-item class="ion-no-padding" lines="none">
            <img class="img-icon-mobile" id="personal-detail-page-mobile-icon" />
            <ion-label class="details-info ion-text-wrap" id="personal-detail-page-customer-mobile-phone">
              {{facade.getFormatedMobilePhoneNumber(customer.mobilePhone)}}
            </ion-label>
            <ion-button
              fill="clear"
              slot="end"
              class="ion-text-uppercase"
              id="personal-detail-page-customer-mobile-phone-edit-btn"
              (click)="openModal('mobile')"
            >
              {{'more-module.personal-details.btn-edit' | translate}}</ion-button
            >
          </ion-item>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
