<div class="badge-email-input-wrapper">
  <div class="input-wrapper">
    <div class="badge-emails" *ngFor="let email of inputEmails; let i = index">
      <div class="email" id="badge-email-text">{{ email }}</div>
      <ion-icon name="close" (click)="removeEmail(i)" id="badge-email-remove"></ion-icon>
    </div>
    <input
      placeholder="{{ placeholder }}"
      id="badge-email-input"
      type="text"
      autocapitalize="off"
      [(ngModel)]="email"
      (keyup)="createBadgeEmail($event)"
    />
  </div>
</div>
