<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        mode="md"
        icon="arrow-back"
        id="bill-payment-page-back-btn"
        (click)="navigateToPage('/move-money/pay-bills/bill-pay')"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-title id="bill-payment-page-header-title-text">
      {{'move-money-module.pay-bills.bill-payment.page-title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="payee-block">
      <div class="payee-info">
        <div class="title" id="bill-payment-page-sending-to-title-text">
          {{'move-money-module.pay-bills.bill-payment.sending-to-title' | translate}}
        </div>
        <div class="details" id="bill-payment-page-bill-payee-full-name">{{billPayee.name}}</div>
      </div>
      <div class="payee-info">
        <div class="title" id="bill-payment-page-account-number-title-text">
          {{'move-money-module.pay-bills.bill-payment.account-number-title' | translate}}
        </div>
        <div class="details" id="bill-payment-page-account-number">{{billPayee.accountNumber}}</div>
      </div>
    </div>
    <div class="clearfix">
      <form [formGroup]="billPaymentForm" novalidate>
        <div class="payment-amount-block">
          <div class="title" id="bill-payment-page-payment-amount-title-text">
            {{'move-money-module.pay-bills.bill-payment.payment-amount-title' | translate}}
          </div>
          <ion-input
            placeholder="{{ '0.00' | negToPos }}"
            appInputDecimalMask
            type="tel"
            formControlName="amount"
            id="bill-payment-page-amount-input"
          >
          </ion-input>
          <div
            class="clearfix"
            *ngIf="billPaymentForm.controls.amount.dirty && billPaymentForm.controls.amount.invalid"
          >
            <div
              class="error-msg"
              id="bill-payment-page-min-amount-limit-text"
              *ngIf="billPaymentForm.controls.amount.hasError('minimumTransferAmount')"
            >
              {{'move-money-module.pay-bills.bill-payment.errors.min-amount-limit-text' | translate}}
            </div>
          </div>
          <div
            class="error-msg"
            id="bill-payment-page-max-amount-limit-text"
            *ngIf="billPaymentForm.controls.amount.hasError('maximumTransferAmount')"
          >
            {{'move-money-module.pay-bills.bill-payment.errors.max-amount-limit-text' | translate}}
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      [disabled]="billPaymentForm.disabled || billPaymentForm.invalid"
      (click)="processPayment()"
      class="white-button"
      id="bill-payment-page-bill-pay-bill-btn"
      expand="block"
    >
      {{'move-money-module.pay-bills.bill-payment.btn-pay-bill' | translate}}
    </ion-button>
    <ion-button
      (click)="cancelPayment()"
      class="grey-outline-button"
      id="bill-payment-page-bill-cancel-btn"
      expand="block"
    >
      {{'move-money-module.pay-bills.bill-payment.btn-cancel' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
