<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'login-module.recover-password.page-title'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="changePasswordForm-wrapper">
      <form [formGroup]="changePasswordForm">
        <div class="title-input-field">
          <div class="field-title">{{'login-module.recover-password.label-new-temporary-password'|translate}}</div>
          <div class="right-content-input">
            <ion-input
              id="password"
              class="white-input"
              clearOnEdit="false"
              [type]="isTemporaryPasswordVisible ? 'text' : 'password'"
              formControlName="tempPassword"
              placeholder="{{ 'signup-module.create-login-page.login-form.password' | translate }}"
            ></ion-input>
            <div class="right-content" (click)="showTemporaryPassword()">
              <p translate>
                {{ isTemporaryPasswordVisible ? 'login-module.create-login-page.login-form.hide-password' :
                'login-module.create-login-page.login-form.show-password' }}
              </p>
            </div>
          </div>
        </div>
        <div class="changePasswordForm-header-title">{{'login-module.recover-password.title'|translate}}</div>
        <div class="title-input-field">
          <div class="field-title">{{'login-module.recover-password.label-new-password'|translate}}</div>
          <div class="right-content-input">
            <ion-input
              id="password"
              class="white-input"
              clearOnEdit="false"
              [type]="isPasswordVisible ? 'text' : 'password'"
              formControlName="password"
              placeholder="{{ 'signup-module.create-login-page.login-form.password' | translate }}"
            ></ion-input>
            <div class="right-content" (click)="showPassword()">
              <p translate>
                {{ isPasswordVisible ? 'login-module.create-login-page.login-form.hide-password' :
                'login-module.create-login-page.login-form.show-password' }}
              </p>
            </div>
          </div>
          <div class="validation-tags">
            <div class="tags-row">
              <span
                [ngClass]="
                changePasswordForm.controls['password'].hasError('oneLowerCase') ||
                changePasswordForm.controls['password'].hasError('required')
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.lowercase' | translate }}</span
              >
              <span
                [ngClass]="
                changePasswordForm.controls['password'].hasError('oneUpperCase') ||
                changePasswordForm.controls['password'].hasError('required')
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.uppercase' | translate }}</span
              >
              <span
                [ngClass]="
                changePasswordForm.controls['password'].hasError('oneNumber') ||
                changePasswordForm.controls['password'].hasError('required')
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.number' | translate }}</span
              >
            </div>
            <div class="tags-row">
              <span
                [ngClass]="
                changePasswordForm.controls['password'].hasError('allowedPasswordSpecialChars') ||
                changePasswordForm.controls['password'].hasError('required')
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.special-character' | translate }}</span
              >
              <span
                [ngClass]="
                changePasswordForm.controls['password'].hasError('minlength') ||
                changePasswordForm.controls['password'].hasError('required')
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.characters' | translate }}</span
              >
            </div>
          </div>
        </div>
        <div class="title-input-field">
          <div class="field-title">{{ 'signup-module.create-login-page.repeat-password-label' | translate }}</div>
          <div class="right-content-input">
            <ion-input
              id="repeatPassword"
              class="white-input"
              clearOnEdit="false"
              [type]="isRepeatPasswordVisible ? 'text' : 'password'"
              formControlName="repeatPassword"
              placeholder="{{ 'signup-module.create-login-page.login-form.repeatPassword' | translate }}"
              (ionChange)="isPasswordMatch()"
            ></ion-input>
            <div class="right-content" (click)="showRepeatPassword()">
              <p translate>
                {{ isRepeatPasswordVisible ? 'login-module.create-login-page.login-form.hide-password' :
                'login-module.create-login-page.login-form.show-password' }}
              </p>
            </div>
          </div>
          <div class="validation-tags">
            <div class="tags-row">
              <span
                [ngClass]="
                !isPasswordMatch() || changePasswordForm.controls['repeatPassword'].hasError('required')
                  ? 'tags'
                  : 'green-tags'
              "
                >{{ 'signup-module.create-login-page.validation-tags.password-match' | translate }}</span
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      class="white-button"
      expand="block"
      (click)="changePassword()"
      [disabled]="changePasswordForm.invalid || !isPasswordMatch()"
    >
      {{'login-module.recover-password.btn-change-password'|translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
