<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <div slot="start" class="header-close-button" (click)="dismiss()"></div>
    <ion-title>Upload Utility</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="dropdown-input-wrapper">
      <div class="label-text">{{'more-module.personal-details.change-address-modal.address-type' | translate}}</div>
      <form [formGroup]="identityConfirmationForm">
        <div class="dropdown-input" (click)="openModal()">
          <ion-input
            readonly
            class="white-input"
            id="signup-identity-confirmation-page-utility-document-dropdown-input"
            type="text"
            formControlName="utilityDocument"
            placeholder="{{ 'signup-module.identity-confirmation-page.dropdown-placeholder' | translate }}"
          >
          </ion-input>
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </form>
    </div>
    <div class="scan-wrapper">
      <div class="front scan-button-wrapper">
        <ion-icon name="checkmark-circle" class="tick-icon" *ngIf="facade.documentImage"></ion-icon>
        <img class="preview" [src]="facade.documentImage" *ngIf="facade.documentImage" (click)="takePhoto()" />
        <ion-input
          #documentImageInput
          [hidden]="true"
          id="web-image-front-id-image"
          type="file"
          accept="image/*"
          (ionChange)="uploadImage()"
        ></ion-input>
        <div class="scan-button" *ngIf="!facade.documentImage" (click)="takePhoto()">
          <div class="button-image">
            <img src="assets/img/camera.png" />
          </div>
          <div class="button-text">{{'more-module.change-name-required-documents.front-id' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="disclaimer">
      <div class="header">Note</div>
      <ul class="content">
        <li class="text">The utility bill must be recent, from the last 3 months.</li>
        <li class="text">The complete address and utility provider must be visible on the document.</li>
      </ul>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="white-button" expand="block">
      {{'more-module.personal-details.change-address-modal.button-text' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
