<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'meed-extra-module.offer-search.header-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-offer-wrapper">
    <ion-searchbar
      class="offer-search-input"
      color="none"
      id="offer_search"
      placeholder="{{ 'meed-extra-module.offer-search.search-offer-placeholder' | translate }}"
      [(ngModel)]="searchOffersFacade.searchField"
      (ionChange)="searchOffersFacade.searchOffer()"
    >
    </ion-searchbar>

    <div class="filter-wrapper" *ngIf="(categories$ | async) as categories">
      <div class="type-filter-wrapper" (click)="openFilterModal('type')">
        <p [style.color]="searchOffersFacade.typeFieldText?'#435CDC' :'#8c90a3'">
          {{ 'meed-extra-module.offer-search.type-text' | translate }} {{searchOffersFacade.typeFieldText?
          searchOffersFacade.typeFieldText: 'None'}}
        </p>
      </div>
      <div class="category-filter-wrapper" (click)="openFilterModal('category',categories)">
        <p [style.color]="searchOffersFacade.categoryFieldText?'#435CDC' :'#8c90a3'">
          {{ 'meed-extra-module.offer-search.category-text' | translate }} {{searchOffersFacade.categoryFieldText?
          searchOffersFacade.categoryFieldText: 'None'}}
        </p>
      </div>
    </div>

    <div class="result-section">
      <p>{{ 'meed-extra-module.offer-search.result-text' | translate }}</p>
    </div>
    <div class="offer-result">
      <offer-card
        (OfferClick)="goToofferPage($event)"
        *ngFor="let offer of searchOffersFacade.searchedOffers"
        [offer]="offer"
      ></offer-card>
    </div>
  </div>
</ion-content>
