<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="meed-travel-page-header-back-btn" mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title id="meed-travel-page-header-title-text">{{'meed-travel-page.header-title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="meed-cover-wrapper">
    <div class="cover-image">
      <img src="assets/img/rewards/travel.png" />
    </div>
    <div class="meed-cover-text" id="meed-travel-page-meed-text">
      {{'meed-travel-page.main-page.meed-text' | translate}}
      <span class="cover-text" id="meed-travel-page-meed-travel-text">
        {{'meed-travel-page.main-page.travel-text' | translate}}
      </span>
    </div>
    <div class="cover-description" id="meed-travel-page-description-text-one">
      <p>{{'meed-travel-page.main-page.description-text-1' | translate}}</p>
    </div>

    <div class="cover-description" id="meed-travel-page-description-text-two">
      <p>{{'meed-travel-page.main-page.description-text-2' | translate}}</p>
    </div>

    <div class="cover-description" id="meed-travel-page-description-text-three">
      <p>{{'meed-travel-page.main-page.description-text-3' | translate}}</p>
    </div>

    <div class="book-meed-travel-btn">
      <ion-button class="white-button" id="meed-travel-page-book-btn" expand="block" (click)="book()">
        {{'meed-travel-page.main-page.book-btn-text' | translate}}
      </ion-button>
    </div>

    <div class="travel-bottom-info">
      <p id="meed-travel-page-cash-back-text">
        {{'meed-travel-page.main-page.cash-back-text' | translate}}
      </p>
      <a href="" id="meed-travel-page-view-policy-link" tappable (click)="$event.preventDefault(); viewPolicy()">
        {{'meed-travel-page.main-page.travel-terms-text' | translate}}
      </a>
    </div>
  </div>
</ion-content>
