.meed-cover-wrapper {
  .cover-image {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    img {
      width: 150px;
      height: 150px;
    }
  }

  .meed-cover-text {
    width: 100%;
    font-family: 'Averta W05 Semibold5179739';
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin-top: 31px;
    color: #070a18;
    word-spacing: -4px !important;
    .cover-text {
      color: #53c9ff;
    }
  }
  .cover-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      padding-left: 25px;
      padding-right: 25px;
      font-size: 16px;
      font-family: 'Averta W05 Regular5345108';
      line-height: 24px;
      color: #606477;
      text-align: center;
    }
  }

  .travel-bottom-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      width: 295px;
      height: 108px;
      font-size: 16px;
      font-family: 'Averta W05 Regular5345108';
      line-height: 24px;
      color: #b7bbce;
      text-align: center;
    }
    a {
      width: 295px;
      font-size: 16px;
      font-family: 'Averta W05 Regular5345108';
      line-height: 24px;
      text-align: center;
      color: #435cdc;
    }
  }
}
