<ion-list no-padding no-margin class="transaction-container">
  <ion-item no-margin *ngIf="transaction.toAccount">
    <ion-label>
      <h2 class="label-h2" id="transaction-details-page-to-text">
        {{ 'dashboard-module.transaction-details.to-text' | translate }}
      </h2>
    </ion-label>
    <div slot="end" id="transaction-details-page-to-account">{{ transaction.toAccount }}</div>
  </ion-item>
  <ion-item no-margin>
    <ion-label>
      <h2 class="label-h2" id="transaction-details-type-text">
        {{ 'dashboard-module.transaction-details.type-text' | translate }}
      </h2>
    </ion-label>
    <div slot="end" id="transaction-details-transaction-type">{{ transaction.transactionType }}</div>
  </ion-item>
  <ion-item no-margin>
    <ion-label>
      <h2 class="label-h2" id="transaction-details-notes-text">
        {{ 'dashboard-module.transaction-details.notes-text' | translate }}
      </h2>
    </ion-label>
    <div slot="end" id="transaction-details-transaction-notes-text">{{ transaction.notes }}</div>
  </ion-item>
  <ion-item no-margin>
    <ion-label>
      <h2 class="label-h2" id="transaction-details-reference-text">
        {{ 'dashboard-module.transaction-details.reference-text' | translate }}
      </h2>
      <h2 class="reference-margin" id="transaction-details-reference-number">{{ transaction.referenceNumber }}</h2>
    </ion-label>
  </ion-item>
</ion-list>
