.transaction-container {
  margin-top: 40px;
  .label-h2 {
    font-family: 'Averta W05 Regular5345108';
    color: #8c90a3;
  }
  .reference-margin {
    margin-top: 16px !important;
  }
  ion-item > div {
    font-family: 'Averta W05 Regular5345108';
  }
}
