<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'login-module.forgot-username-page.page-title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <form [formGroup]="usernameForm">
      <ion-item lines="none">
        <ion-label position="stacked">{{'login-module.forgot-username-page.input-label-email' | translate}}</ion-label>
        <ion-input formControlName="email" type="text" class="white-input"></ion-input>
      </ion-item>
    </form>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="white-button" expand="block" (click)="continue()" [disabled]="usernameForm.invalid">
      {{'login-module.forgot-username-page.btn-label' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
