<ion-header meed class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title text-center id="contact-us-page-header-title-text">
      {{ 'more-module.contact-us-page.header-title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="contact-us-container">
  <ion-text class="header-text ion-text-center">
    <h4 id="contact-us-page-header-text">{{ 'more-module.contact-us-page.container-header' | translate }}</h4>
  </ion-text>
  <ion-text class="sub-text">
    <p id="contact-us-page-container-subheader-text">
      {{ 'more-module.contact-us-page.container-subheader' | translate }}
    </p>
    <p id="contact-us-page-container-call-number-text">
      {{ 'more-module.contact-us-page.call-text' | translate: {'callNumber': contactUsFacade.supportNumber} }}
    </p>
  </ion-text>
</ion-content>

<ion-footer class="ion-no-border" *ngIf="contactUsFacade.isCordova()">
  <ion-button
    class="white-button"
    id="contact-us-page-container-call-number-btn"
    expand="block"
    (click)="contactUsFacade.callANumber()"
  >
    {{ 'more-module.contact-us-page.call-button-text' | translate }}
  </ion-button>
</ion-footer>
