<ion-header class="white-header" no-border>
  <ion-toolbar>
    <div slot="start" class="header-close-button" (click)="dismiss()"></div>
  </ion-toolbar>
</ion-header>
<ion-content class="verification-content">
  <div class="content-wrapper">
    <div class="verification-content">
      <div class="signup-verification-header">
        <span>{{'otp-modal-verification.title' | translate}}</span>
      </div>
      <div *ngIf="!isInput" class="resend-code-wrapper">
        <div class="resend-error-text">{{ 'signup-module.verification-page.resend-error-text' | translate }}</div>
        <ion-button class="grey-outline-button resend-btn" expand="block" (click)="resend()">
          {{ 'signup-module.verification-page.resend-btn-text' | translate }}
        </ion-button>
      </div>
      <div *ngIf="isInput" class="code-input">
        <div class="otp-wrapper">
          <ion-input
            (ionChange)="autoOtpFill()"
            (keyup)="otpCodeChanged(1)"
            #f1
            type="tel"
            [(ngModel)]="otp1"
            placeholder="&bull;"
            maxlength="1"
            [ngClass]="{'code-error' : codeError}"
          ></ion-input>
          <ion-input
            (keyup)="otpCodeChanged(2)"
            #f2
            type="tel"
            [(ngModel)]="otp2"
            placeholder="&bull;"
            maxlength="1"
            [ngClass]="{'code-error' : codeError}"
          ></ion-input>
          <ion-input
            (keyup)="otpCodeChanged(3)"
            #f3
            type="tel"
            [(ngModel)]="otp3"
            placeholder="&bull;"
            maxlength="1"
            [ngClass]="{'code-error' : codeError}"
          ></ion-input>
          <ion-input
            (keyup)="otpCodeChanged(4)"
            #f4
            type="tel"
            [(ngModel)]="otp4"
            placeholder="&bull;"
            maxlength="1"
            [ngClass]="{'code-error' : codeError}"
          ></ion-input>
          <ion-input
            (keyup)="otpCodeChanged(5)"
            #f5
            type="tel"
            [(ngModel)]="otp5"
            placeholder="&bull;"
            maxlength="1"
            [ngClass]="{'code-error' : codeError}"
          ></ion-input>
          <ion-input
            (keyup)="otpCodeChanged(6)"
            #f6
            type="tel"
            [(ngModel)]="otp6"
            placeholder="&bull;"
            maxlength="1"
            [ngClass]="{'code-error' : codeError}"
          ></ion-input>
        </div>
        <div class="info-text">
          {{'otp-modal-verification.info-text' | translate}}
        </div>
      </div>
    </div>
  </div>
</ion-content>
