<ion-header class="white-header" no-border>
  <ion-toolbar>
    <div slot="start" class="header-close-button" (click)="dismiss()"></div>
  </ion-toolbar>
</ion-header>
<ion-content class="verification-content">
  <div class="content-wrapper">
    <div class="verification-content">
      <div class="signup-verification-header">
        <span>{{'otp-modal-verification.title' | translate}}</span>
      </div>
      <div *ngIf="!isInput" class="resend-code-wrapper">
        <div class="resend-error-text">{{ 'signup-module.verification-page.resend-error-text' | translate }}</div>
        <ion-button class="grey-outline-button resend-btn" expand="block" (click)="resend()">
          {{ 'signup-module.verification-page.resend-btn-text' | translate }}
        </ion-button>
      </div>
      <div *ngIf="isInput" class="code-input">
        <div class="code-grid" #content>
          <ion-item>
            <ion-input
              class="otp-input"
              [ngClass]="{'verification-code-error': codeError}"
              #hiddenInput
              type="tel"
              maxlength="6"
              [(ngModel)]="verificationCode"
              (ngModelChange)="trackVerificationCodeChange()"
              [appMaskInput]="emailVerification"
              value="verificationCode"
            ></ion-input>
          </ion-item>
        </div>
        <div class="info-text">
          {{'otp-modal-verification.info-text' | translate}}
        </div>
      </div>
    </div>
  </div>
</ion-content>
