<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title id="add-payee-address-page-header-title-text">
      {{'move-money-module.mail-check.add-payee-address.page-title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="form-title" id="add-payee-address-page-form-title-text">
      {{'move-money-module.mail-check.add-payee-address.page-header' | translate}}
    </div>
    <form [formGroup]="addPayeeAddressForm" novalidate>
      <ion-list lines="none" class="input-list">
        <div class="clearfix form-item">
          <ion-input
            [placeholder]="'move-money-module.mail-check.add-payee-address.form-input-placeholders.address' | translate"
            class="white-input"
            id="add-payee-address-page-street-input"
            formControlName="street"
            type="text"
          >
          </ion-input>
          <div
            class="clearfix error-msg"
            id="add-payee-address-page-address-required-text"
            *ngIf="addPayeeAddressForm.controls.street.dirty && addPayeeAddressForm.controls.street.invalid"
          >
            {{'move-money-module.mail-check.add-payee-address.errors.address-required-text' | translate}}
          </div>
        </div>
        <div class="clearfix form-item">
          <ion-input
            [placeholder]="'move-money-module.mail-check.add-payee-address.form-input-placeholders.city' | translate"
            class="white-input"
            formControlName="city"
            id="add-payee-address-page-city-input"
            type="text"
          >
          </ion-input>
          <div
            class="clearfix error-msg"
            id="add-payee-address-page-city-required-text"
            *ngIf="addPayeeAddressForm.controls.city.dirty && addPayeeAddressForm.controls.city.invalid"
          >
            {{'move-money-module.mail-check.add-payee-address.errors.city-required-text' | translate}}
          </div>
        </div>
        <div class="dropdown-input" (click)="openStateModal()">
          <ion-input
            [placeholder]="'move-money-module.mail-check.add-payee-address.form-input-placeholders.state' | translate"
            class="white-input"
            formControlName="state"
            id="add-payee-address-page-state-input"
            readonly
            type="text"
          >
          </ion-input>
          <ion-icon name="chevron-down"></ion-icon>
        </div>

        <div class="clearfix form-item">
          <ion-input
            [maxlength]="zipCodeMaxLength"
            [placeholder]="'move-money-module.mail-check.add-payee-address.form-input-placeholders.zip-code' | translate"
            appFormateZipCode
            class="white-input"
            id="add-payee-address-page-post-code-input"
            formControlName="postCode"
            inputmode="numeric"
            type="tel"
          >
          </ion-input>
          <div
            class="clearfix"
            *ngIf="addPayeeAddressForm.controls.postCode.dirty && addPayeeAddressForm.controls.postCode.invalid"
          >
            <ng-template
              [ngIf]="addPayeeAddressForm.controls.postCode.errors?.zipCodeValidation"
              [ngIfElse]="payeeZipCodeInvalidError"
            >
              <div class="error-msg" id="add-payee-address-page-post-code-character-text">
                {{'move-money-module.mail-check.add-payee-address.errors.zip-code-character-text' | translate}}
              </div>
            </ng-template>
            <ng-template #payeeZipCodeInvalidError>
              <div class="error-msg" id="add-payee-address-page-post-code-required-text">
                {{'move-money-module.mail-check.add-payee-address.errors.zip-code-required-text' | translate}}
              </div>
            </ng-template>
          </div>
        </div>

        <div class="clearfix form-item">
          <input
            [placeholder]="'move-money-module.mail-check.add-payee-address.form-input-placeholders.phone' | translate"
            class="white-input"
            formControlName="phone"
            inputmode="tel"
            mask="(000) 000-0000"
            type="tel"
            id="add-payee-address-page-phone-input"
          />
          <div
            class="clearfix error-msg"
            id="add-payee-address-page-phone-no-required-text"
            *ngIf="addPayeeAddressForm.controls.phone.dirty && addPayeeAddressForm.controls.phone.invalid"
          >
            {{'move-money-module.mail-check.add-payee-address.errors.phone-no-required-text' | translate}}
          </div>
        </div>
      </ion-list>
    </form>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      class="white-button"
      expand="block"
      (click)="continue()"
      id="add-payee-address-page-continue-btn"
      [disabled]="addPayeeAddressForm.invalid"
    >
      {{ 'move-money-module.mail-check.bill-pay.continue-button-title' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
