<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div class="step-counter">
      <step-counter [step]="'Step 3 of 3'" [stepNo]="3"></step-counter>
    </div>
    <div class="header-title">{{ 'signup-module.general-info-page.page-title' | translate }}</div>
    <form [formGroup]="generalForm">
      <ion-list lines="none">
        <ion-item>
          <ion-input
            [ngClass]="generalForm.controls.firstName.invalid && generalForm.controls.firstName.touched ? 'error-input' : 'white-input'"
            appInputMaxLength="{{nameMaxLength}}"
            formControlName="firstName"
            class="white-input"
            type="text"
            placeholder="{{ 'signup-module.general-info-page.generalForm.first-name' | translate }}"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            appInputMaxLength="{{nameMaxLength}}"
            formControlName="secondName"
            class="white-input"
            type="text"
            placeholder="{{ 'signup-module.general-info-page.generalForm.second-name' | translate }}"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            appInputMaxLength="{{nameMaxLength}}"
            formControlName="paternalLastName"
            class="white-input"
            type="text"
            placeholder="{{ 'signup-module.general-info-page.generalForm.paternal-last-name' | translate }}"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            appInputMaxLength="{{nameMaxLength}}"
            formControlName="maternalLastName"
            class="white-input"
            type="text"
            placeholder="{{ 'signup-module.general-info-page.generalForm.maternal-last-name' | translate }}"
          ></ion-input>
        </ion-item>
        <ion-item class="date-input">
          <ion-label *ngIf="!generalForm.controls.dateOfBirth.value"
            >{{ 'signup-module.general-info-page.generalForm.date-of-birth' | translate }}</ion-label
          >
          <ion-datetime
            formControlName="dateOfBirth"
            displayFormat="{{ 'signup-module.general-info-page.generalForm.date-of-birth-display-format' | translate }}"
            [max]="facade.maxDate"
          ></ion-datetime>
          <ion-icon name="chevron-down"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input
            appInputMaxLength="{{curpMaxLength}}"
            formControlName="curp"
            class="white-input"
            type="text"
            placeholder="{{ 'signup-module.general-info-page.generalForm.curp' | translate }}"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            appInputMaxLength="10"
            formControlName="mobileNumber"
            class="white-input"
            type="number"
            placeholder="{{ 'signup-module.general-info-page.generalForm.mobile-number' | translate }}"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label class="ion-text-wrap question"
            >{{ 'signup-module.general-info-page.permission-text' | translate }}</ion-label
          >
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      class="white-button"
      expand="block"
      (click)="applyGeneralInformation()"
      [disabled]="generalForm.invalid"
    >
      {{ 'signup-module.general-info-page.next-button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
