.ps-theme-base .ps-button button {
  background: red !important;
}
.ps-checkout-content {
  font-family: 'Averta W03 Light1583317';
  width: 100% !important;
  height: 100vh !important;
  margin-top: -122px !important;
}
