<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="meed-share-page-header-back-btn" mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title id="meed-share-page-header-title">{{'meed-share-page.header-title' | translate}}</ion-title>
    <div slot="end" (click)="meedShareFacade.showModal()">
      <img
        class="header-info-img"
        id="meed-share-page-header-info-img"
        src="assets/img/white-question.png"
        alt="info"
      />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(meedShareFacade.meedShare$ | async) as meedShare">
    <div class="data-part" id="meed-share-page-meed-share-card">
      <meed-share-card
        title="meed-share-page.main-page.active-share-text"
        value="{{meedShare.totalInvitees}}"
        image="assets/svg/active_share.svg"
        [type]="meedShareFacade.valueType.Integer"
      ></meed-share-card>
      <meed-share-card
        title="meed-share-page.main-page.this-month-text"
        value="{{meedShare.lastMonthDistribution}}"
        image="assets/svg/this_month_share.svg"
        [type]="meedShareFacade.valueType.Currency"
      ></meed-share-card>
      <meed-share-card
        title="meed-share-page.main-page.total-text"
        value="{{meedShare.totalDistribution}}"
        image="assets/svg/double-doller.svg"
        [type]="meedShareFacade.valueType.Currency"
      ></meed-share-card>
    </div>
    <div class="invite-section" id="meed-share-page-invite-info-card">
      <invite-info
        *ngIf="(meedShare.totalInvitees && meedShare.lastMonthDistribution && meedShare.totalDistribution) && (meedShare.totalInvitees != 0 && meedShare.lastMonthDistribution != 0 && meedShare.totalDistribution != 0)"
        emoji="🚀"
        header="meed-share-page.main-page.non-zero-invite-header"
        description="meed-share-page.main-page.non-zero-invite-sub-header"
        inviteBtn="true"
      ></invite-info>
      <invite-info
        *ngIf="(!meedShare.totalInvitees && !meedShare.lastMonthDistribution && !meedShare.totalDistribution) || (meedShare.totalInvitees == 0 && meedShare.lastMonthDistribution == 0 && meedShare.totalDistribution == 0)"
        emoji="💵"
        header="meed-share-page.main-page.zero-invite-header"
        description="meed-share-page.main-page.zero-invite-sub-header"
        inviteBtn="true"
      >
      </invite-info>
    </div>
  </div>
</ion-content>
