ion-content {
  --padding-top: 40px !important;
  --padding-end: 0px !important;
}

.privacy-legal-container {
  ion-text {
    font-family: 'Averta W05 Regular5345108';
    color: #606477;
    font-size: 16px;
    line-height: 24px;
  }
  ion-item {
    font-family: 'Averta W05 Regular5345108';
    --inner-padding-top: 16px;
    --inner-padding-bottom: 16px;
    --padding-start: 0px;
    color: #070a18;
    font-size: 15px;
    line-height: 22px;
  }
}
