<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="md">
      <ion-back-button id="registration-type-page-back-btn"></ion-back-button>
    </ion-buttons>
    <ion-title id="registration-type-page-header-title-text"
      >{{'p2p-module.registration-type-page.page-title' | translate}}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="send-money-wrapper">
    <div class="title" id="registration-type-page-send-money-to-title-text">
      {{'p2p-module.registration-type-page.send-money-to-title' | translate}}
    </div>
    <ion-item class="ion-no-padding">
      <ion-label class="ion-padding-top ion-padding-bottom" id="registration-type-page-payee-to">{{payeeTo}}</ion-label>
    </ion-item>
  </div>
  <div class="via-their-wrapper">
    <div class="title" id="registration-type-page-via-their-title-text">
      {{'p2p-module.registration-type-page.via-their-title' | translate}}
    </div>
    <ion-list>
      <ion-radio-group mode="md" name="type" [(ngModel)]="payeeType">
        <ion-item class="ion-no-padding" *ngIf="isMeedMember">
          <ion-radio [value]="payeeTypes.Meed"></ion-radio>
          <ion-label class="ion-padding" id="registration-type-page-meed-account-title-text"
            >{{'p2p-module.registration-type-page.meed-account-title' | translate}}</ion-label
          >
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-radio [value]="payeeTypes.Invex"></ion-radio>
          <ion-label class="ion-padding" id="registration-type-page-invex-account-title-text"
            >{{'p2p-module.registration-type-page.invex-account-title' | translate}}</ion-label
          >
        </ion-item>
        <ion-item class="ion-no-padding">
          <ion-radio [value]="payeeTypes.Other" id="registration-type-page-payee-type-radio-btn"></ion-radio>
          <ion-label class="ion-padding" id="registration-type-page-bank-account-title-text"
            >{{'p2p-module.registration-type-page.bank-account-title' | translate}}</ion-label
          >
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      class="white-button"
      id="registration-type-page-continue-btn"
      [disabled]="!payeeType"
      (click)="continue()"
    >
      {{'p2p-module.registration-type-page.continue-button-title' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
