ion-back-button {
  --color: #ffffff;
}

.title {
  font-family: 'Averta W05 Regular';
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--input-white-placeholder-color);
  margin-top: 10px;
  margin-bottom: 20px;
}
.send-money-wrapper {
  margin: 20px 0;
}

.via-their-wrapper {
}
