<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title id="pay-bills-home-page-header-title-text">
      {{ 'move-money-module.pay-bills.home.header-title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="pay-bills-home">
    <div class="content-title" id="pay-bills-home-page-content-title-text">
      {{ 'move-money-module.pay-bills.home.page-title' | translate }}
    </div>
    <ion-list class="bill-options-list" lines="none">
      <ion-radio-group [(ngModel)]="facade.paybillsOption">
        <ion-item>
          <ion-radio
            [value]="facade.paybillsOptions.BillPay"
            id="pay-bills-home-page-bill-pay-radio-input"
            slot="start"
            mode="md"
          ></ion-radio>
          <ion-label class="ion-text-wrap">
            <h3 class="title" id="pay-bills-home-page-home-bill-pay-title-text">
              {{ 'move-money-module.pay-bills.home.bill-pay-title' | translate }}
            </h3>
            <p class="details" id="pay-bills-home-page-home-bill-pay-details-text">
              {{ 'move-money-module.pay-bills.home.bill-pay-details' | translate }}
            </p>
          </ion-label>
          <ion-button
            (click)="facade.billPayServiceModal()"
            id="pay-bills-home-page-home-bill-pay-service-modal-btn"
            fill="clear"
            slot="end"
            ><img src="assets/svg/question-mark.svg"
          /></ion-button>
        </ion-item>
        <ion-item>
          <ion-radio
            [value]="facade.paybillsOptions.TopUpMobile"
            slot="start"
            mode="md"
            id="pay-bills-home-page-top-up-mobile-radio-btn"
            checked
          ></ion-radio>
          <ion-label class="ion-text-wrap">
            <h3 class="title" id="pay-bills-home-page-top-up-mobile-title-text">
              {{ 'move-money-module.pay-bills.home.top-up-mobile-title' | translate }}
            </h3>
            <p class="details" id="pay-bills-home-page-biller-direct-details-text">
              {{ 'move-money-module.pay-bills.home.top-up-mobile-details' | translate }}
            </p>
          </ion-label>
          <ion-button
            id="pay-bills-home-page-top-up-mobile-modal-btn"
            (click)="facade.topUpMobileModal()"
            fill="clear"
            slot="end"
            ><img src="assets/svg/question-mark.svg"
          /></ion-button>
        </ion-item>
        <ion-item>
          <ion-radio
            [value]="facade.paybillsOptions.GiftCard"
            id="pay-bills-home-page-pay-bills-options-gift-card-radio-btn"
            slot="start"
            mode="md"
          ></ion-radio>
          <ion-label class="ion-text-wrap">
            <h3 class="title" id="pay-bills-home-page-gift-card-title-text">
              {{ 'move-money-module.pay-bills.home.gift-card-title' | translate }}
            </h3>
            <p class="details" id="pay-bills-home-page-gift-card-details-text">
              {{ 'move-money-module.pay-bills.home.gift-card-details' | translate }}
            </p>
          </ion-label>
          <ion-button
            (click)="facade.giftCardModal()"
            id="pay-bills-home-page-gift-card-modal-btn"
            fill="clear"
            slot="end"
            ><img src="assets/svg/question-mark.svg"
          /></ion-button>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="facade.continue()" class="white-button" id="pay-bills-home-page-continue-btn" expand="block"
      >{{ 'move-money-module.pay-bills.home.continue-button-text' | translate }}</ion-button
    >
  </ion-toolbar>
</ion-footer>
