.content-block {
  margin-top: 44px;
  .monthly-block {
    margin-top: 45px;
    margin-bottom: 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .saved-item,
    .target-item {
      display: flex;
      flex-direction: column;

      .title {
        opacity: 0.5;
        color: #070a18;
        font-family: 'Averta W05 Semibold5179739';
        font-size: 13px;
        font-weight: 600;
        letter-spacing: 0.15px;
        line-height: 16px;
      }
      .amount {
        color: #070a18;
        font-family: 'Averta W05 Semibold5179739';
        font-size: 13px;
        letter-spacing: 0.15px;
        line-height: 16px;
        text-align: right;
      }
    }
    .saved-item {
      .amount {
        text-align: left;
      }
    }
  }
  .circle-progress-block {
    display: flex;
    justify-content: center;
    .circle-progress-wrapper {
      position: relative;
      round-progress {
        height: 130px !important;
        &:before {
          content: '';
          position: absolute;
          height: 10px;
          width: 10px;
          background: #f4f6fd;
          top: 90%;
          border-radius: 50%;
        }
        &:after {
          content: '';
          position: absolute;
          height: 10px;
          width: 10px;
          background: #f4f6fd;
          top: 90%;
          border-radius: 50%;
          left: 96%;
        }
      }
      .active-progress:before {
        content: '';
        position: absolute;
        height: 10px;
        width: 10px;
        background: #ffd04d;
        top: 90%;
        border-radius: 50%;
      }
      .title {
        width: 100%;
        position: absolute;
        top: 50%;
        opacity: 0.5;
        color: #070a18;
        font-family: 'Averta W05 Semibold5179739';
        font-size: 14px;
        letter-spacing: 0.2px;
        line-height: 18px;
        text-align: center;
      }
      .percentage {
        width: 100%;
        position: absolute;
        top: 70%;
        color: #070a18;
        font-family: 'Averta W05 Regular';
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 0.2px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
  .need-to-save-block {
    margin-top: 60px;
    background-color: rgba(244, 246, 253, 0.75);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    .error {
      color: red;
      font-size: 14px;
    }
    .title {
      color: #070a18;
      font-family: 'Averta W05 Regular';
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 0.22px;
      line-height: 16px;
      text-align: center;
    }
    .save-range-block {
      padding: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .daily,
      .weekly,
      .monthly {
        .amount {
          color: #070a18;
          font-family: 'Averta W05 Regular';
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0.2px;
          line-height: 30px;
          text-align: center;
        }
        .title {
          color: #b7bbce;
          font-family: 'Averta W05 Regular';
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.2px;
          line-height: 18px;
          text-align: center;
        }
      }
    }
  }
}
