.virtual-assistant-content {
  .related-results {
    margin-bottom: 0;
    margin-top: 5px;
    background: transparent;
    .item {
      --border-style: none;
      --background: #435cdc;
      --color: white !important;
      padding-left: 0;
      margin-bottom: 4px;
      --background-hover: #435cdc;
      ion-label {
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 4px;
        padding-left: 4px;
      }
      .item-inner {
        padding-right: 0;
      }
      ion-icon {
        color: white;
      }
    }
  }
  .line-breaker {
    white-space: pre-line;
  }

  .dialogue-background-color {
    background-color: #2de2a2;
  }
  .message-wrap {
    padding: 0 10px;
    padding-bottom: 30px;
    .message {
      position: relative;
      padding: 7px 0;
      .user-img {
        position: absolute;
        border-radius: 45px;
        width: 45px;
        height: 45px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
      }

      .msg-detail {
        width: 100%;
        display: inline-block;
        font-family: 'Averta W05 Regular';
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.25px;
        p {
          margin: 0;
        }
        .msg-info {
          clear: both;
          padding-top: 8px;
          p {
            font-size: 0.8em;
            color: #b7bbce;
          }
        }

        .msg-content {
          position: relative;
          margin-top: 5px;
          padding: 16px;
          width: auto;
          max-width: 80%;
          color: white;
          span.triangle {
            background-color: #fff;
            border-radius: 2px;
            height: 8px;
            width: 8px;
            top: 12px;
            display: block;
            border-style: solid;
            border-color: #ddd;
            border-width: 1px;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            position: absolute;
          }
        }
      }
    }

    .message.left {
      .msg-content {
        background-color: #f4f6fd;
        float: left;
        border-radius: 12px 12px 12px 0 !important;
      }
      .msg-detail {
        padding-left: 0px;
      }
      .user-img {
        left: 0;
      }
      .msg-content {
        color: #435cdc;
        span.triangle {
          border-top-width: 0;
          border-right-width: 0;
          left: -5px;
        }
      }
    }

    .message.right {
      .msg-detail {
        padding-right: 0px;
        .msg-info {
          text-align: right;
        }
      }
      .user-img {
        right: 0;
      }
      ion-spinner {
        position: absolute;
        right: 10px;
        top: 50px;
      }
      .msg-content {
        background-color: #435cdc;
        float: right;
        border-radius: 12px 12px 0 12px;
        span.triangle {
          background-color: #435cdc;
          border-bottom-width: 0;
          border-left-width: 0;
          right: -5px;
        }
      }
    }
  }
  .common-question {
    bottom: 0;
    position: absolute;
    right: 0;
    margin-bottom: 0;
    margin-right: 10px;
    ion-list-header {
      text-align: right;
      border: 0;
      margin-bottom: 0;
      ion-label {
        font-size: 11px;
        font-weight: bold;
        color: #191919;
        margin-bottom: 0;
      }
    }
    ion-item {
      border: 1px solid #2de2a2;
      margin-bottom: 5px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.16);
      margin-left: auto;
      width: auto;
      --border-style: none;
      ion-label {
        font-size: 12px;
        color: #191919;
        text-align: right;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
      }
    }
  }
}
.virtual-assistant-footer {
  &:before {
    background-image: none;
  }
  ion-toolbar {
    --padding-start: 0px !important;
    --padding-end: 0px !important;
    --padding-bottom: 6px !important;
    --padding-top: 0px;
    --border-style: none;
    --border-color: red;
    --border-width: 4px;
    ion-input {
      border: 1px solid #b7bbce;
      border-radius: 12px;
      --background: #fafafa;
      --padding-start: 15px !important;
    }
  }
}
