.balance-container {
  .title {
    opacity: 0.5;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px;
    font-family: 'Averta W05 Bold5204651';
    margin-bottom: 4px;
  }
  .balance-amount {
    font-family: 'Averta W05 Bold5204651';
    font-size: 30px;
    letter-spacing: 0.2px;
    line-height: 30px;
  }
}
