<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'invite-module.invite-page.page-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="invite-part">
    <invite-info></invite-info>
  </div>

  <div class="invitee-track">
    <ion-grid>
      <ion-row padding-vertical>
        <ion-col col-lg-4 col-md-6 col-sm-8 no-padding offset-lg-4 offset-md-3 offset-sm-2>
          <div class="invitees-header main-container">
            <p>{{ 'invite-module.invite-page.invitees-header' | translate | uppercase }}</p>
            <p>{{facade.invitations.length}}</p>
          </div>
          <div class="track-list">
            <ion-list *ngFor="let invitation of facade.invitations; let i = index" lines="none">
              <ion-item>
                <div id="track-users-contact-list-avatar-{{ i }}" text-center class="track-avater" no-padding no-margin>
                  <p class="track-initials">{{invitation.inviteeEmail | emailName | uppercase}}</p>
                  <div *ngIf="invitation.status === facade.status.Read">
                    <img src="assets/img/invite/success.png" class="track-icon" />
                  </div>
                  <div *ngIf="invitation.status === facade.status.Sent">
                    <img src="assets/img/invite/pending.png" class="track-icon" />
                  </div>
                </div>
              </ion-item>
              <div class="track-email">
                <p>{{invitation.inviteeEmail | slice: 0: 17 }}...</p>
              </div>
              <div class="track-email-status">
                <p align="center">{{invitation.status | titlecase }}</p>
              </div>
            </ion-list>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="toolbar-content-wrapper">
      <ion-button class="white-button" expand="block" (click)="onInviteNewFriend()">
        {{ 'invite-module.invite-page.invite-btn' | translate }}
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
