.content-wrapper {
  .custom-left-margin {
    margin-right: 10px;
  }
  .payment-due-wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    .payment-due-block {
      width: 100%;
      .payment-due-content,
      .payment-due-date-content {
        display: flex;
        justify-content: space-between;
        .title {
          color: #070a18;
          font-family: 'Averta W05 Regular';
          font-size: 16px;
          letter-spacing: -0.15px;
          line-height: 16px;
        }
        .right-content {
          color: #070a18;
          font-family: 'Averta W05 Semibold5179739';
          font-size: 16px;
          letter-spacing: -0.1px;
          line-height: 16px;
          text-align: right;
        }
      }
    }
  }
  .transaction-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Averta W05 Bold5204651';
    margin-bottom: 18px;
    .transaction-title {
      color: #070a18;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.36px;
      line-height: 21px;
      margin-bottom: 18px;
      margin-right: 8px;
    }
    .show-hide-title {
      color: #b7bbce;
      font-size: 12px;
      line-height: 20px;
    }
  }
  .pending-transaction-margin {
    margin-top: 33px;
  }
  .recent-transaction-margin {
    margin-top: 36px;
  }
}
