ion-content {
  --padding-top: 0px !important;
}
.content-wrapper {
  margin-top: 27px;
  .form-subtitle {
    color: #8c90a3;
    font-family: 'Averta W05 Semibold5179739';
    font-size: 1.1rem;
    letter-spacing: 1px;
    line-height: 1.1rem;
    text-transform: uppercase;
  }
}
