<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title id="send-money-confirm-page-header-title-text">
      {{'move-money-module.send-money.confirm.page-title' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="confirm-page">
    <div class="ion-text-center amount-block">
      <div class="title" id="send-money-confirm-page-amount-title-text">
        {{'move-money-module.send-money.confirm.amount-title' | translate}}
      </div>
      <div class="amount" id="send-money-confirm-page-amount">${{facade.amount}}</div>
    </div>
    <div class="sending-block">
      <div class="title" id="send-money-confirm-page-sending-title">
        {{'move-money-module.send-money.confirm.sending-title' | translate}}
      </div>
      <div class="description" id="send-money-confirm-page-receiver-Email">{{facade.receiverEmail}}</div>
    </div>
    <div class="note-block">
      <div class="title" id="send-money-confirm-page-sending-title">
        {{'move-money-module.send-money.confirm.sending-title' | translate}}
      </div>
      <div class="description" id="send-money-confirm-page-message-text">{{facade.message}}</div>
    </div>
  </div>
</ion-content>
<ion-footer class="footer-content ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button
            (click)="facade.submitP2PTransfer()"
            id="send-money-confirm-page-send-money-btn"
            expand="block"
            class="white-button"
          >
            {{'move-money-module.send-money.confirm.send-money-button' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            (click)="facade.backToEdit()"
            id="send-money-confirm-page-edit-btn"
            expand="block"
            fill="clear"
            class="edit-btn"
          >
            {{'move-money-module.send-money.confirm.edit-button' | translate}}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="facade.cancelSendMoney()"
            id="send-money-confirm-page-cancel-btn"
            expand="block"
            fill="clear"
            class="cancel-btn"
          >
            {{'move-money-module.send-money.confirm.cancel-button' | translate}}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
