<ion-header class="white-header ion-no-border">
  <ion-toolbar> </ion-toolbar>
</ion-header>
<ion-content class="safe-area-content">
  <div class="content-wrapper">
    <div class="beneficiary-header">
      <div class="step-counter" id="signup-beneficiary-page-step-counter">
        <step-counter [step]="'signup-module.signup-beneficiary-page.step-text'" [stepNo]="3"></step-counter>
      </div>
      <div (click)="openBeneficiaryModal()">
        <img src="assets/svg/question-mark.svg" />
      </div>
    </div>
    <div class="header-title" id="signup-beneficiary-page-header-title-text">
      {{ 'signup-module.signup-beneficiary-page.page-title' | translate }}
    </div>

    <div class="content-wrapper">
      <form [formGroup]="beneficiaryForm" novalidate>
        <ion-list lines="none">
          <ion-item>
            <ion-input
              [ngClass]="
              beneficiaryForm.controls.firstName.invalid && skipErrorFields.firstName ? 'error-input' : 'white-input'
            "
              (ionFocus)="isInputFieldSkip('firstName')"
              class="white-input ion-text-capitalize"
              id="signup-beneficiary-page-first-name-input"
              type="text"
              formControlName="firstName"
              placeholder="{{ 'signup-module.signup-beneficiary-page.beneficiary-form.first-name' | translate }}"
              [appMaskInput]="wordsInput"
              appInputMaxLength="{{maxLength}}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              [ngClass]="
              beneficiaryForm.controls.secondName.invalid && skipErrorFields.secondName ? 'error-input' : 'white-input'
            "
              (ionFocus)="isInputFieldSkip('secondName')"
              class="white-input ion-text-capitalize"
              id="signup-beneficiary-page-second-name-input"
              type="text"
              formControlName="secondName"
              placeholder="{{ 'signup-module.signup-beneficiary-page.beneficiary-form.second-name' | translate }}"
              [appMaskInput]="wordsInput"
              appInputMaxLength="{{maxLength}}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              [ngClass]="
              beneficiaryForm.controls.parentalName.invalid && skipErrorFields.parentalName ? 'error-input' : 'white-input'
            "
              (ionFocus)="isInputFieldSkip('parentalName')"
              class="white-input ion-text-capitalize"
              id="signup-beneficiary-page-parental-name-input"
              type="text"
              formControlName="parentalName"
              placeholder="{{ 'signup-module.signup-beneficiary-page.beneficiary-form.parental-name' | translate }}"
              [appMaskInput]="wordsInput"
              appInputMaxLength="{{maxLength}}"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              [ngClass]="
              beneficiaryForm.controls.maternalLastName.invalid ? 'error-input' : 'white-input'
            "
              (ionFocus)="isInputFieldSkip('maternalLastName')"
              class="white-input ion-text-capitalize"
              id="signup-beneficiary-page-maternal-name-input"
              type="text"
              formControlName="maternalLastName"
              placeholder="{{ 'signup-module.signup-beneficiary-page.beneficiary-form.maternal-last-name' | translate }}"
              [appMaskInput]="wordsInput"
              appInputMaxLength="{{maxLength}}"
            ></ion-input>
          </ion-item>

          <ion-item class="date-input">
            <ion-datetime
              (ionFocus)="isInputFieldSkip('dateOfResidence')"
              [ngClass]="beneficiaryForm.controls.dateOfBirth.invalid && skipErrorFields.dateOfBirth ? 'error-input' : 'white-input'"
              id="signup-beneficiary-page-date-of-residence-input"
              placeholder="{{ 'signup-module.signup-beneficiary-page.beneficiary-form.dob' | translate }}"
              formControlName="dateOfBirth"
              displayFormat="{{ 'signup-module.signup-beneficiary-page.beneficiary-form.date-of-birth-display-format' | translate }}"
            ></ion-datetime>
            <ion-icon name="chevron-down"></ion-icon>
          </ion-item>

          <div class="dropdown-input" (click)="openOptionsModal('relationship', this.facade.relationshipData)">
            <ion-input
              [ngClass]="beneficiaryForm.controls.relationship.invalid && skipErrorFields.relationship ? 'error-input' : 'white-input'"
              readonly
              class="white-input"
              id="signup-beneficiary-page-relationship-dropdown-input"
              type="text"
              formControlName="relationship"
              placeholder="{{ 'signup-module.signup-beneficiary-page.beneficiary-form.relationship' | translate }}"
            ></ion-input>
            <ion-icon name="chevron-down"></ion-icon>
          </div>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      class="white-button"
      id="signup-beneficiary-page-next-btn"
      expand="block"
      (click)="next()"
      [disabled]="beneficiaryForm.invalid"
    >
      {{ 'signup-module.signup-beneficiary-page.button-text-processing-done' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
