ion-content {
  --background: var(--ion-color-meedblue);
}
.log-in-success-content {
  margin-top: 27px;
  /* margin top remove from logo */
  .header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
  }

  .subtitle-content {
    color: #ffffff !important;
    margin: 0px 20px;
    text-align: center;
  }

  .meed-stepper {
    margin-top: 5.7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .stepper-content {
      .step {
        display: flex;
        align-items: center;
        .v-stepper {
          width: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .circle {
            height: 28px;
            width: 28px;
            border: 2px solid rgba(255, 255, 255, 0.25);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #ffffff !important;
            font-size: 1.3rem;
          }
          .line-active {
            height: 20px;
            border-left: 2px solid #ffffff;
          }
          .line-empty {
            height: 20px;
          }
          .line {
            height: 20px;
            border-left: 2px solid #ffffff;
            opacity: 0.25;
          }
        }
        .stepper-content {
          font-family: 'Averta W05 Semibold5179739' !important;
          font-size: 1.8rem;
          color: #ffffff;
          padding-left: 2.6rem;
          letter-spacing: -0.36px;
          line-height: 21px;
        }
      }
    }
  }

  .footer-description {
    color: #ffffff;
    font-family: 'Averta W05 Regular';
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    margin-top: 82px;
    margin-bottom: 40px;
  }
}

ion-footer {
  ion-toolbar {
    --background: #2f47bd !important;
  }
}
