<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'login-module.forgot-password-page.page-title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="forgot-password-input-wrapper" *ngIf="!facade.isSecurityQuesVisible">
      <form [formGroup]="usernameForm">
        <ion-item lines="none">
          <ion-label position="stacked"
            >{{'login-module.forgot-password-page.input-lable-userName' | translate}}</ion-label
          >
          <ion-input type="text" class="white-input" formControlName="username"></ion-input>
        </ion-item>
      </form>
    </div>
    <div class="security-question-wrapper" *ngIf="facade.isSecurityQuesVisible">
      <div class="title">{{'login-module.forgot-password-page.security-question-title' | translate}}</div>
      <form [formGroup]="quesForm">
        <ion-list lines="none" class="input-list">
          <ion-label position="stacked">{{facade.challengeQues?.questions[0].question}}</ion-label>
          <div class="datetime-input">
            <ion-item lines="none">
              <ion-datetime
                displayFormat="{{'login-module.forgot-password-page.form-input-placeholders.date' | translate}}"
                formControlName="answerOne"
                placeholder="{{'login-module.forgot-password-page.form-input-placeholders.date' | translate}}"
                pickerFormat="{{'login-module.forgot-password-page.form-input-placeholders.date' | translate}}"
              ></ion-datetime>
              <ion-icon name="chevron-down" slot="end"></ion-icon>
            </ion-item>
          </div>
          <div>
            <ion-label position="stacked">{{facade.challengeQues?.questions[1].question}}</ion-label>
            <ion-item>
              <input
                mask="000-00-0000"
                type="text"
                class="white-input"
                formControlName="answerTwo"
                placeholder="{{'login-module.forgot-password-page.form-input-placeholders.ssn' | translate}}"
                (focus)="onFocus()"
              />
            </ion-item>
          </div>
        </ion-list>
      </form>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      *ngIf="!facade.isSecurityQuesVisible"
      class="white-button"
      expand="block"
      (click)="continueForgotPassword()"
      [disabled]="usernameForm.invalid"
    >
      {{'login-module.forgot-password-page.button-name' | translate}}
    </ion-button>
    <ion-button
      *ngIf="facade.isSecurityQuesVisible"
      class="white-button"
      expand="block"
      (click)="continueSecurityQuestion()"
      [disabled]="quesForm.invalid"
    >
      {{'login-module.forgot-password-page.button-name' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
