<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        mode="md"
        id="invite-new-member-confirm-page-header-back-btn"
        icon="arrow-back"
        (click)="facade.onClickBack()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title color="light" id="invite-new-member-confirm-page-header-title-text">
      {{ 'invite-module.invite-new-member-confirm.header-title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="badge-content">
    <div class="invitees-title" id="invite-new-member-confirm-page-invitees-title-text">
      {{ 'invite-module.invite-new-member-confirm.invitees-title' | translate }}
    </div>
    <div class="invitees-badges">
      <ion-chip *ngFor="let contact of facade.inviteeContacts; let i = index">
        <ion-label *ngIf="contact.name" id="invite-new-member-confirm-page-invitee-contact-name">
          {{contact.name}}
        </ion-label>
        <ion-label *ngIf="!contact.name" id="invite-new-member-confirm-page-invitee-contact-email">
          {{contact.email}}
        </ion-label>
        <ion-button
          fill="clear"
          id="invite-new-member-confirm-page-invitee-contact-clear-btn"
          (click)="facade.removeContact(i)"
        >
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-chip>
    </div>
  </div>

  <div class="message-content">
    <div class="message-title" id="invite-new-member-confirm-page-invitee-contact-edit-message-title">
      {{ 'invite-module.invite-new-member-confirm.edit-message-title' | translate }}
    </div>
    <div class="textarea-box">
      <ion-textarea
        auto-grow="true"
        id="invite-new-member-confirm-page-invitee-contact-edit-message-input"
        class="edit-message-textarea-div"
        [(ngModel)]="facade.inviteMessage"
      >
      </ion-textarea>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      class="white-button"
      id="invite-new-member-confirm-page-invitee-contact-confirm-btn"
      expand="block"
      (click)="facade.onClickInvite()"
    >
      {{ 'invite-module.invite-new-member-confirm.invite-new-member-confirm-btn' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
