.contact-keyword {
  .form-title {
    margin-top: 40px;
    color: #070a18;
    font-family: 'Averta W05 Bold5204651' !important;
    font-size: 24px;
    letter-spacing: 0.16px;
    line-height: 32px;
  }
  .form-details {
    margin: 20px 0;
    color: #606477;
    font-family: 'Averta W05 Regular';
    font-size: 16px;
    line-height: 24px;
  }
}
