<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="p2p-home-page-header-back-btn" mode="md"></ion-back-button>
    </ion-buttons>
    <ion-title id="p2p-home-page-header-title-text">{{'p2p-module.home-page.page-title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="payee-search-wrapper">
    <div class="title" id="p2p-home-page-add-new-payee-title-text">
      {{'p2p-module.home-page.add-new-payee-title' | translate}}
    </div>
    <ion-item lines="none" class="icon-input">
      <ion-icon slot="start" name="search"></ion-icon>
      <ion-input
        (ionChange)="searchContact()"
        id="p2p-home-page-search-query-input"
        [(ngModel)]="searchQuery"
        placeholder="{{'p2p-module.home-page.search-input-placeholder' | translate}}"
      ></ion-input>
    </ion-item>
  </div>
  <div class="search-result-wrapper" *ngIf="facade.startSearching">
    <ion-list *ngIf="facade.searchResult.length > 0">
      <ion-item *ngFor="let payee of facade.searchResult">
        <ion-label class="ion-padding-top ion-padding-bottom ion-text-wrap" id="p2p-home-page-payee-email">
          {{payee.alias}} <br />
          {{payee.email}}
        </ion-label>
        <ion-icon *ngIf="isEditable" slot="end" name="pencil"></ion-icon>
      </ion-item>
    </ion-list>

    <div class="no-result-block" *ngIf="facade.searchResult.length === 0">
      <ion-label class="ion-text-center ion-text-wrap" id="p2p-home-page-no-result-found-text"
        >{{'p2p-module.home-page.no-result-found-text' | translate}}</ion-label
      >
    </div>
  </div>
  <div class="data-content-wrapper" [hidden]="facade.startSearching">
    <div class="requests-wrapper">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label id="p2p-home-page-request-title-text"
          ><b>{{'p2p-module.home-page.request-title' | translate}}</b></ion-label
        >
      </ion-item>
      <ion-list>
        <ion-item class="ion-no-padding" lines="none">
          <ion-label class="ion-padding-top ion-padding-bottom">
            From sean.evan@yopmail.com <br />
            <span>Requested on June 12, 2020</span>
          </ion-label>
          <span slot="end"> <b>$38.00</b></span>
        </ion-item>
      </ion-list>
    </div>
    <div class="my-payees-wrapper">
      <!-- <div class="title">My Payees</div> -->
      <ion-item lines="none" class="ion-no-padding">
        <ion-label><b>{{'p2p-module.home-page.my-payee-title' | translate}}</b></ion-label>
        <ion-label
          *ngIf="(myPayees$ | async)?.length > 0"
          [ngClass]="{'contactEditable': isEditable}"
          class="ion-text-right"
          slot="end"
          (click)="makeContactEditAble()"
          id="p2p-home-page-edit-delete-title-text"
          >{{'p2p-module.home-page.edit-delete-title' | translate}}</ion-label
        >
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let payee of myPayees$ | async">
          <ion-label class="ion-padding-top ion-padding-bottom" id="p2p-home-page-payee-email-text">
            {{payee.contactType === contactType.Meed || payee.contactType === contactType.Domestic ? payee.email :
            payee.alias}}
          </ion-label>
          <ion-icon (click)="edit(payee)" *ngIf="isEditable" slot="end" name="pencil"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button class="white-button" id="p2p-home-page-next-btn" (click)="next()" [disabled]="!searchQuery.trim()">
      {{'p2p-module.home-page.next-button-title' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
