<ion-header meed class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="settings-page-header-back-btn" mode="md" text="" icon="arrow-back" color="light">
      </ion-back-button>
    </ion-buttons>
    <ion-title text-center id="settings-page-header-title-text">
      {{ 'more-module.settings-page.header-title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="settings-page override-ion-content-padding">
  <ion-list class="list-wrapper">
    <ion-item
      button="true"
      id="settings-page-navigate-to-page-btn"
      (click)="navigateToPage('change-language')"
      detail="false"
    >
      <div class="clearfix">
        <div class="clearfix item-wrapper">
          <div class="clearfix">
            <span class="list-title" id="settings-page-change-language-text">
              {{ 'more-module.settings-page.change-language-text' | translate }}
            </span>
          </div>
          <div class=" icon-arrow">
            <img id="button-view-change-language" src="assets/svg/arrow.svg" alt="arrow" srcset="" />
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item
      button="true"
      id="settings-page-navigate-to-page-btn"
      (click)="navigateToPage('contact-preferences')"
      detail="false"
    >
      <div class="clearfix">
        <div class="clearfix item-wrapper">
          <div class="clearfix">
            <span class="list-title">{{ 'more-module.settings-page.contact-preference-text' | translate }}</span>
          </div>
          <div class=" icon-arrow">
            <img id="button-view-contact-preferences" src="assets/svg/arrow.svg" alt="arrow" srcset="" />
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item
      id="settings-page-version-info-item"
      button="true"
      (click)="navigateToPage('version-info')"
      detail="false"
    >
      <div class="clearfix">
        <div class="clearfix item-wrapper">
          <div class="clearfix">
            <span class="list-title" id="settings-page-version-info-text"
              >{{ 'more-module.settings-page.version-info-text' | translate }}</span
            >
          </div>
          <div class=" icon-arrow">
            <img id="button-view-version-info" src="assets/svg/arrow.svg" alt="arrow" srcset="" />
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item button="true" id="settings-page-navigate-to-page-btn" (click)="navigateToPage('sweep')" detail="false">
      <div class="clearfix">
        <div class="clearfix item-wrapper">
          <div class="clearfix">
            <span class="list-title" id="settings-page-sweep-text"
              >{{ 'more-module.settings-page.sweep-text' | translate }}</span
            >
          </div>
          <div class=" icon-arrow">
            <img id="button-view-version-info" src="assets/svg/arrow.svg" alt="arrow" srcset="" />
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item
      lines="none"
      button="true"
      id="settings-page-navigate-to-page-btn"
      (click)="navigateToPage('change-password')"
      detail="false"
    >
      <div class="clearfix">
        <div class="clearfix item-wrapper">
          <div class="clearfix">
            <span class="list-title" id="settings-page-change-password-text"
              >{{ 'more-module.settings-page.change-password-text' | translate }}</span
            >
          </div>
          <div class=" icon-arrow">
            <img id="button-view-version-info" src="assets/svg/arrow.svg" alt="arrow" srcset="" />
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
