<div class="modal-content ion-padding">
  <div class="content-wrapper">
    <div class="header-close-button" id="info-modal-header-close-btn" (click)="dismiss()"></div>
    <div class="text-content" *ngFor="let content of contents">
      <p translate class="modal-sub-title" id="info-modal-header-title-text">{{ content.title }}</p>
      <p
        [innerHTML]="paragraph | translate: content.values"
        class="modal-paragraph"
        id="info-modal-description-text"
        *ngFor="let paragraph of content.details"
      ></p>
    </div>
    <div class="button-container" *ngIf="actionButtons?.length > 0">
      <ion-button
        (click)="actionButton.handler($event)"
        *ngFor="let actionButton of actionButtons"
        class="{{ actionButton.cssClass }}"
        id="info-modal-action-btn"
        [disabled]="actionButton.disabled ? actionButton.disabled : false"
        expand="block"
        >{{ actionButton.text | translate: actionButton.params }}
      </ion-button>
    </div>
  </div>
</div>
