<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <div class="header-close-button" id="extra-intro-header-close-btn" slot="start" (click)="dismiss()"></div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="head-text" id="extra-intro-remember-text">
    <p>{{ 'meed-extra-module.extra-intro-component.remember_text' | translate }}</p>
  </div>
  <div class="text-img-wrapper">
    <div class="img-wrapper">
      <img id="extra-intro-remember-text" src="assets/img/card-icon.png" alt="card-icon" />
    </div>
    <div class="text-wrapper">
      <p id="extra-intro-meed-extras-card-explanation-text">
        {{ 'meed-extra-module.extra-intro-component.meed_extras_card_explanation' | translate }}
      </p>
    </div>
  </div>
  <div class="text-img-wrapper">
    <div class="img-wrapper">
      <img id="extra-intro-meed-extras-card-explanation-text" src="assets/img/scheduled-icon.png" alt="card-icon" />
    </div>
    <div class="text-wrapper" id="extra-intro-meed-extras-schudule-explanation">
      <p>{{ 'meed-extra-module.extra-intro-component.meed_extras_schudule_explanation' | translate }}</p>
    </div>
  </div>
  <div class="text-img-wrapper">
    <div class="img-wrapper">
      <img id="extra-intro-activate-img" src="assets/img/activate.png" alt="card-icon" />
    </div>
    <div class="text-wrapper">
      <p id="extra-intro-meed-extras-opt-in-explanation-text">
        {{ 'meed-extra-module.extra-intro-component.meed_extras_opt_in_explanation' | translate }}
      </p>
    </div>
  </div>
  <div class="text-img-wrapper">
    <div class="img-wrapper">
      <img id="extra-intro-meed-extras-opt-in-explanation-text" src="assets/img/redirect.png" alt="card-icon" />
    </div>
    <div class="text-wrapper" id="extra-intro-meed-extras-online-explanation-text">
      {{ 'meed-extra-module.extra-intro-component.meed_extras_online_explanation' | translate }}
    </div>
  </div>
  <div class="text-img-wrapper">
    <div class="img-wrapper">
      <img id="extra-intro-cookie-img" src="assets/img/cookie.png" alt="card-icon" />
    </div>
    <div class="text-wrapper">
      <p id="extra-intro-meed-extras-cookie-explanation-text">
        {{ 'meed-extra-module.extra-intro-component.meed_extras_cookie_explanation' | translate }}
      </p>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="white-button" id="extra-intro-ok-btn" expand="block" (click)="dismiss()">
      {{ 'meed-extra-module.extra-intro-component.ok_btn_text' | translate }}
    </ion-button>
    <ion-button
      class="grey-outline-button"
      id="extra-intro-donot-show-btn"
      expand="block"
      (click)="meedExtraInfoModelHide()"
    >
      {{ 'meed-extra-module.extra-intro-component.donot_show_btn' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
