<ion-content>
  <div class="content-wrapper">
    <div class="step-counter">
      <step-counter [step]="'signup-module.identity-confirmation-page.step-text'" [stepNo]="3"></step-counter>
    </div>
    <div class="header-title">{{ 'signup-module.identity-confirmation-page.page-title' | translate }}</div>
    <div class="content-block">
      <div class="description">
        {{ 'signup-module.identity-confirmation-page.verify-text' | translate }}
      </div>
      <form [formGroup]="identityConfirmationForm">
        <div class="dropdown-input" (click)="openModal()">
          <ion-input
            readonly
            class="white-input"
            id="utilityDocument"
            type="text"
            formControlName="utilityDocument"
            placeholder="{{ 'signup-module.identity-confirmation-page.dropdown-placeholder' | translate }}"
          ></ion-input>
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </form>
    </div>
    <div class="content-block">
      <div class="scan-wrapper">
        <div class="scan-button-wrapper">
          <div class="clearfix scanned-image-sec">
            <ion-icon name="checkmark-circle" class="tick-icon" *ngIf="facade.utilityBillImage"></ion-icon>
            <img
              class="preview"
              [src]="facade.utilityBillImage"
              *ngIf="facade.utilityBillImage"
              (click)="takePhoto()"
            />
          </div>
          <ion-input #utilityPictureInput [hidden]="true" type="file" accept="image/*" (ionChange)="uploadImage()">
          </ion-input>
          <div class="scan-button" *ngIf="!facade.utilityBillImage" (click)="takePhoto()">
            <div class="button-image">
              <img src="assets/img/camera.png" />
            </div>
            <div class="button-text">{{'signup-module.identity-confirmation-page.utility-scan-text' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button class="white-button" expand="block" [disabled]="isSubmitButtonDisabled" (click)="continue()">
      {{ 'signup-module.signup-address-page.button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
