<ion-header class="white-header ion-no-border">
  <ion-toolbar> </ion-toolbar>
</ion-header>
<ion-content>
  <div class="content-wrapper">
    <div class="step-counter" id="signup-identity-confirmation-page-step-counter">
      <step-counter [step]="'signup-module.identity-confirmation-page.step-text'" [stepNo]="3"></step-counter>
    </div>
    <div class="header-title" id="signup-identity-confirmation-page-header-title-text">
      {{ 'signup-module.identity-confirmation-page.page-title' | translate }}
    </div>
    <div class="content-block">
      <div class="description" id="signup-identity-confirmation-page-description-text">
        {{ 'signup-module.identity-confirmation-page.verify-text' | translate }}
      </div>
      <form [formGroup]="identityConfirmationForm">
        <div class="dropdown-input" (click)="openModal()">
          <ion-input
            readonly
            class="white-input"
            id="signup-identity-confirmation-page-utility-document-dropdown-input"
            type="text"
            formControlName="utilityDocument"
            placeholder="{{ 'signup-module.identity-confirmation-page.dropdown-placeholder' | translate }}"
          ></ion-input>
          <ion-icon name="chevron-down"></ion-icon>
        </div>
      </form>
    </div>
    <div class="content-block">
      <div class="scan-wrapper">
        <div class="scan-button-wrapper">
          <div class="clearfix scanned-image-sec">
            <ion-icon name="checkmark-circle" class="tick-icon" *ngIf="facade.utilityBillImage"></ion-icon>
            <img
              class="preview"
              [src]="facade.utilityBillImage"
              *ngIf="facade.utilityBillImage"
              (click)="takePhoto()"
            />
          </div>
          <ion-input
            #utilityPictureInput
            [hidden]="true"
            id="signup-identity-confirmation-page-utility-picture-input"
            type="file"
            accept="image/*"
            (ionChange)="uploadImage()"
          >
          </ion-input>
          <div class="scan-button" *ngIf="!facade.utilityBillImage" (click)="takePhoto()">
            <div class="button-image">
              <img src="assets/img/camera.png" />
            </div>
            <div class="button-text">{{'signup-module.identity-confirmation-page.utility-scan-text' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      class="white-button"
      expand="block"
      id="signup-identity-confirmation-page-continue-btn"
      [disabled]="isSubmitButtonDisabled"
      (click)="continue()"
    >
      {{ 'signup-module.signup-address-page.button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
