<div>
  <form [formGroup]="transactionForm">
    <ion-label class="item-title" id="advanced-search-amount-range-title-text"
      >{{ 'dashboard-module.advanced-search.amount-range-text' | translate }}
    </ion-label>
    <ion-row>
      <ion-col size="5">
        <ion-item lines="none">
          <ion-input
            id="advanced-search-lower-amount-range-input"
            class="white-input"
            appInputDecimalMask
            formControlName="amountFrom"
          >
          </ion-input>
        </ion-item>
      </ion-col>
      <!-- text-center, text-lowercase replace with ion-text-center, ion-text-lowercase class -->
      <ion-col size="2" class="item-title ion-text-center">
        <p id="advanced-search-transaction-to-text-one" class="ion-text-lowercase">
          {{ 'dashboard-module.advanced-search.to-text' | translate }}
        </p>
      </ion-col>
      <ion-col size="5">
        <ion-item lines="none">
          <ion-input
            id="advanced-search-upper-amount-range-input"
            class="white-input"
            appInputDecimalMask
            formControlName="amountTo"
          >
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-label id="advanced-search-transaction-list-date-text" class="item-title">
      {{ 'dashboard-module.advanced-search.date-text' | translate }}
    </ion-label>
    <ion-row>
      <ion-col size="5">
        <div class="datetime-input">
          <ion-item lines="none">
            <ion-datetime
              id="advanced-search-transaction-search-date-from-input"
              formControlName="dateFrom"
              [max]="maxDate"
              displayFormat="{{ 'dashboard-module.advanced-search.date-display-format' | translate }}"
            >
            </ion-datetime>
          </ion-item>
        </div>
      </ion-col>
      <!-- text-lowercase replace with ion-text-lowercase class -->
      <ion-col size="2" class="item-title ion-text-center">
        <p id="advanced-search-transaction-to-text-two" md-color-meedGr30 class="ion-text-lowercase">
          {{ 'dashboard-module.advanced-search.to-text' | translate }}
        </p>
      </ion-col>
      <ion-col size="5">
        <div class="datetime-input">
          <ion-item lines="none">
            <ion-datetime
              id="advanced-search-transaction-search-date-to-input"
              formControlName="dateTo"
              [max]="maxDate"
              displayFormat="{{ 'dashboard-module.advanced-search.date-display-format' | translate }}"
            >
            </ion-datetime>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </form>

  <div class="button-content">
    <ion-row>
      <ion-col>
        <div class="left-button">
          <ion-button
            expand="block"
            class="grey-outline-button"
            id="advanced-search-clear-text-btn"
            (click)="clearSearchValues()"
          >
            {{ 'dashboard-module.advanced-search.clear-text' | translate }}
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="right-button">
          <ion-button
            expand="block"
            fill="outline"
            class="white-button"
            id="advanced-search-clear-text-btn"
            [disabled]="!checkSearchFormValidation()"
            (click)="submitSearch()"
          >
            {{ 'dashboard-module.advanced-search.search-text' | translate }}
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</div>
