<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back" (click)="facade.onClickBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'invite-module.invite-new-member-page.header-title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="input-group">
    <div class="invite-label">
      {{ 'invite-module.invite-new-member-page.invite-label' | translate }}
    </div>

    <div class="badges-container">
      <ion-chip class="email-badge" *ngFor="let contact of facade.inviteeContact; let i = index">
        <ion-label>{{ contact.name }} - {{ contact.email }} </ion-label>
        <ion-button fill="clear" size="small" (click)="facade.removeContact(i)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-chip>
    </div>

    <div class="input-field">
      <ion-input
        [(ngModel)]="facade.email"
        [appMaskInput]="facade.emailFormatMask"
        placeholder="{{ 'invite-module.invite-new-member-page.invite-email-input-placeholder' | translate }}"
        type="text"
      >
      </ion-input>
    </div>

    <div class="input-field">
      <ion-input
        [(ngModel)]="facade.name"
        placeholder="{{ 'invite-module.invite-new-member-page.invite-name-input-placeholder' | translate }}"
        type="text"
      >
      </ion-input>
    </div>

    <ion-button
      expand="block"
      class="grey-outline-button"
      (click)="facade.addInvitee()"
      [disabled]="(!facade.isValidEmail() || facade.name === '' || facade.emailAlreadyEntered())"
    >
      {{ 'invite-module.invite-new-member-page.add-invitee-button' | translate }}
    </ion-button>
  </div>

  <div class="invite-divider" *ngIf="facade.isCordova">
    <div class="left-border"></div>
    <div class="divider-content">
      {{ 'invite-module.invite-new-member-page.invite-or-divider' | translate }}
    </div>
    <div class="right-border"></div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      expand="block"
      class="grey-outline-button"
      *ngIf="facade.isCordova"
      (click)="facade.onChooseFromContact()"
    >
      {{ 'invite-module.invite-new-member-page.choose-contact-button' | translate }}
    </ion-button>
    <ion-button
      expand="block"
      class="white-button"
      [disabled]="(facade.inviteeContact.length <= 0 ) && (!facade.isValidEmail() || facade.name === '')"
      (click)="facade.onContinueClick()"
    >
      {{ 'invite-module.invite-new-member-page.continue-button' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
