<ion-header class="ion-no-border">
  <ion-toolbar> </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div *ngIf="this.facade.isSPEISelected">
      <div class="info-content">
        <div class="info-title" id="funding-option-page-spei-option-title-text">
          {{ 'signup-module.funding-option-page.spei-option.title' | translate }}
        </div>
        <div class="info-paragraph" id="funding-option-page-spei-option-subtitle1-text">
          {{ 'signup-module.funding-option-page.spei-option.subtitle1' | translate }}
        </div>
        <div class="info-paragraph1" id="funding-option-page-spei-option-lable1-text">
          {{ 'signup-module.funding-option-page.spei-option.lable1' | translate }}
        </div>
        <div class="info-value" id="funding-option-page-spei-account-info-value">
          {{facade.accountFundInfo.interbankClabe}}
        </div>
        <div class="info-paragraph1" id="funding-option-page-spei-option-lable2-text">
          {{ 'signup-module.funding-option-page.spei-option.label2' | translate }}
        </div>
        <div class="info-value" id="funding-option-page-spei-bank-name-text">
          {{facade.accountFundInfo.bankName}}
        </div>
        <div class="info-paragraph2" id="funding-option-page-spei-option-subtitle2-text">
          {{ 'signup-module.funding-option-page.spei-option.subtitle2' | translate }}
        </div>
      </div>
    </div>
    <div *ngIf="this.facade.isOXXOSelected">
      <div class="info-content">
        <div class="info-title" id="funding-option-page-oxxo-option-title-text">
          {{ 'signup-module.funding-option-page.oxxo-option.title' | translate }}
        </div>
        <div class="info-paragraph" id="funding-option-page-oxxo-option-subtitle1-text">
          {{ 'signup-module.funding-option-page.oxxo-option.subtitle1' | translate }}
        </div>
        <div class="info-paragraph1" id="funding-option-page-oxxo-option-lable2-text">
          {{ 'signup-module.funding-option-page.oxxo-option.label2' | translate }}
        </div>
        <div class="info-value" id="funding-option-page-oxxo-option-card-number">
          {{facade.accountFundInfo.cardNumber}}
        </div>
        <div class="info-paragraph2" id="funding-option-page-oxxo-option-subtitle2-text">
          {{ 'signup-module.funding-option-page.oxxo-option.subtitle2' | translate }}
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      *ngIf="facade.isDirectDepositActive"
      class="white-button"
      id="funding-option-page-go-to-direct-deposit-btn"
      expand="block"
      (click)="facade.goToDirectDeposit()"
    >
      {{ 'signup-module.funding-option-page.direct-deposit-button-text' | translate }}
    </ion-button>
    <ion-button
      *ngIf="facade.isLoginActive"
      class="grey-outline-button"
      id="funding-option-page-logout-btn"
      expand="block"
      (click)="facade.goToLogin()"
    >
      {{ 'signup-module.funding-option-page.logout-button-text' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
