<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        mode="md"
        id="invite-new-member-verify-page-header-back-btn"
        icon="arrow-back"
        (click)="facade.onBackClick()"
      ></ion-back-button>
    </ion-buttons>
    <ion-title id="invite-new-member-verify-page-header-title-text"
      >{{ 'invite-module.invite-new-member-verify.header-title' | translate }}</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div class="invite-label" id="invite-new-member-verify-page-invite-label-text">
      {{ 'invite-module.invite-new-member-verify.invite-label' | translate }}
    </div>
    <div class="email-container">
      <ion-chip
        *ngFor="let contact of facade.inviteeContacts"
        id="invite-new-member-verify-page-invite-contact-chip"
        [class.existing-member-email]="contact.isAlreadyMeedMember"
      >
        <ion-label id="invite-new-member-verify-page-invite-contact-name-email">
          {{ contact.name }} - {{ contact.email }}
        </ion-label>
      </ion-chip>
    </div>
    <div class="invite-note">
      <div *ngIf="facade.onlyHasExistingMeedMemberEmails()" id="invite-new-member-verify-page-invite-already-member">
        {{ 'invite-module.invite-new-member-verify.invite-already-member' | translate }}
      </div>
      <div
        *ngIf="!facade.onlyHasExistingMeedMemberEmails()"
        id="invite-new-member-verify-page-invite-red-already-member"
      >
        {{ 'invite-module.invite-new-member-verify.invite-red-already-member' | translate }}
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button
      expand="block"
      class="white-button"
      id="invite-new-member-verify-page-continue-btn"
      [disabled]="facade.onlyHasExistingMeedMemberEmails()"
      (click)="facade.onContinueClick()"
    >
      {{ 'invite-module.invite-new-member-verify.continue-button' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>
