<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="instore-offer-container">
  <div class="offer-image">
    <mbc-image-loader
      [src]="instoreOfferFacade.offer.image"
      [title]="instoreOfferFacade.offer.merchant"
    ></mbc-image-loader>
  </div>
  <div class="store-name">
    <p>{{instoreOfferFacade?.offer?.merchant}}</p>
  </div>
  <div class="offer-description">
    <p>{{ instoreOfferFacade?.offer?.tenWord }}</p>
  </div>
  <div class="active-btn">
    <ion-button
      *ngIf="instoreOfferFacade?.offer?.requiresActivation && !instoreOfferFacade?.offer?.activated"
      class="grey-outline-button"
      expand="block"
      (click)="activeOffer()"
    >
      {{ 'meed-extra-module.instore-offer-page.active-deal-text' | translate }}
    </ion-button>
    <ion-button
      *ngIf="instoreOfferFacade?.offer?.requiresActivation && instoreOfferFacade?.offer?.activated"
      class="green-button"
      expand="block"
    >
      {{ 'meed-extra-module.instore-offer-page.activated-text' | translate }}
    </ion-button>
  </div>
  <div class="devider"></div>
  <div class="header-text">
    <p>{{ 'meed-extra-module.instore-offer-page.offer-details-text' | translate }}</p>
  </div>
  <div class="sub-header-text" [innerHTML]="instoreOfferFacade?.offer?.twentyWord"></div>

  <div *ngIf="(offerDetails$ | async)?.stores as storeDetails">
    <div class="location-text">
      <p>{{ 'meed-extra-module.instore-offer-page.locations-text' | translate }}</p>
    </div>
    <div class="nearest-address">
      <p>{{ 'meed-extra-module.instore-offer-page.nearest-text' | translate }}:</p>
      <p>
        {{storeDetails[0].address}}, {{storeDetails[0].city}} {{storeDetails[0].zip}}
      </p>
    </div>
    <div class="distence-wrapper">
      <p>{{storeDetails[0].distance}} mi</p>
    </div>
    <div class="zip-code-text">
      <p>{{ 'meed-extra-module.instore-offer-page.search-zip-info-text' | translate }}</p>
    </div>
    <div class="zip-code-search-wrapper">
      <form [formGroup]="zipOfferForm" (ngSubmit)="search(zipOfferForm.value)">
        <div class="nput-field-container">
          <ion-input
            class="white-input"
            id="zipCode"
            type="number"
            hide-keyboard
            placeholder="{{ 'meed-extra-module.instore-offer-page.zip-code-placeholder' | translate }}"
            formControlName="zipCode"
            required
          ></ion-input>
          <ion-button type="submit" [disabled]="zipOfferForm.invalid" class="grey-outline-button" expand="block">
            {{ 'meed-extra-module.instore-offer-page.search-btn-text' | translate }}
          </ion-button>
        </div>
      </form>
    </div>
    <div class="offer-cards">
      <div *ngFor="let storeOffer of storeDetails">
        <location-offer-card
          *ngIf="storeOffer.id != instoreOfferFacade?.offer.id"
          [locationOffer]="{store: storeOffer, offer: instoreOfferFacade?.offer}"
        ></location-offer-card>
      </div>
    </div>
  </div>
</ion-content>
