<ion-header class="white-header ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button id="instore-offer-page-back-btn" mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="instore-offer-container">
  <div class="offer-image">
    <mbc-image-loader
      [src]="instoreOfferFacade.offer.image"
      [title]="instoreOfferFacade.offer.merchant"
    ></mbc-image-loader>
  </div>
  <div class="store-name">
    <p id="instore-offer-page-offer-merchant">{{instoreOfferFacade?.offer?.merchant}}</p>
  </div>
  <div class="offer-description">
    <p id="instore-offer-page-offer-merchant">{{ instoreOfferFacade?.offer?.tenWord }}</p>
  </div>
  <div class="active-btn">
    <ion-button
      *ngIf="instoreOfferFacade?.offer?.requiresActivation && !instoreOfferFacade?.offer?.activated"
      class="grey-outline-button"
      id="instore-offer-page-active-offer"
      expand="block"
      (click)="activeOffer()"
    >
      {{ 'meed-extra-module.instore-offer-page.active-deal-text' | translate }}
    </ion-button>
    <ion-button
      *ngIf="instoreOfferFacade?.offer?.requiresActivation && instoreOfferFacade?.offer?.activated"
      class="green-button"
      expand="block"
    >
      {{ 'meed-extra-module.instore-offer-page.activated-text' | translate }}
    </ion-button>
  </div>
  <div class="devider"></div>
  <div class="header-text">
    <p id="instore-offer-page-offer-details-text">
      {{ 'meed-extra-module.instore-offer-page.offer-details-text' | translate }}
    </p>
  </div>
  <div class="sub-header-text" [innerHTML]="instoreOfferFacade?.offer?.twentyWord"></div>

  <div *ngIf="(offerDetails$ | async)?.stores as storeDetails">
    <div class="location-text">
      <p id="instore-offer-page-offer-locations-text">
        {{ 'meed-extra-module.instore-offer-page.locations-text' | translate }}
      </p>
    </div>
    <div class="nearest-address">
      <p id="instore-offer-page-offer-nearest-text">
        {{ 'meed-extra-module.instore-offer-page.nearest-text' | translate }}:
      </p>
      <p id="instore-offer-page-store-address">
        {{storeDetails[0].address}}, {{storeDetails[0].city}} {{storeDetails[0].zip}}
      </p>
    </div>
    <div class="distence-wrapper" id="instore-offer-page-store-distance">
      <p>{{storeDetails[0].distance}} mi</p>
    </div>
    <div class="zip-code-text">
      <p id="instore-offer-page-zip-info-text">
        {{ 'meed-extra-module.instore-offer-page.search-zip-info-text' | translate }}
      </p>
    </div>
    <div class="zip-code-search-wrapper">
      <form [formGroup]="zipOfferForm" (ngSubmit)="search(zipOfferForm.value)">
        <div class="nput-field-container">
          <ion-input
            class="white-input"
            id="instore-offer-page-zip-code-input"
            type="number"
            hide-keyboard
            placeholder="{{ 'meed-extra-module.instore-offer-page.zip-code-placeholder' | translate }}"
            formControlName="zipCode"
            required
          ></ion-input>
          <ion-button
            type="submit"
            id="instore-offer-page-search-btn"
            [disabled]="zipOfferForm.invalid"
            class="grey-outline-button"
            expand="block"
          >
            {{ 'meed-extra-module.instore-offer-page.search-btn-text' | translate }}
          </ion-button>
        </div>
      </form>
    </div>
    <div class="offer-cards">
      <div *ngFor="let storeOffer of storeDetails">
        <location-offer-card
          id="instore-offer-page-location-offer-card"
          *ngIf="storeOffer.id != instoreOfferFacade?.offer.id"
          [locationOffer]="{store: storeOffer, offer: instoreOfferFacade?.offer}"
        ></location-offer-card>
      </div>
    </div>
  </div>
</ion-content>
