<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ navBarTitle | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content-wrapper no-padding">
  <div class="disclaimer">
    {{'deposit.paystand-page.disclaimer-text' | translate}}
  </div>
  <div id="ps_container_id"></div>
  <div id="ps_checkout_load" ps-checkoutType="checkout_payment" ps-mode="embed"></div>
</ion-content>
