.content-block {
  margin-top: 44px;
  .history-block {
    .title {
      color: #070a18;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: -0.36px;
      line-height: 21px;
      font-family: 'Averta W05 Semibold5179739';
      margin-top: 53px;
    }
  }
}
