<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button mode="md" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title id="bill-pay-page-header-title-text">
      {{ 'move-money-module.pay-bills.bill-pay.page-title' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
    <div class="biller-search-wrapper">
      <ion-item lines="none" class="icon-input">
        <ion-icon slot="start" name="search"></ion-icon>
        <ion-input
          debounce="100"
          (ionChange)="searchBillers()"
          [(ngModel)]="searchQuery"
          placeholder="{{'move-money-module.pay-bills.bill-pay.search-input-placeholder' | translate}}"
        ></ion-input>
      </ion-item>
    </div>
    <div class="search-result-wrapper" *ngIf="searchQuery && !this.facade.searching">
      <ion-list *ngIf="facade.billers.length > 0">
        <ion-item *ngFor="let biller of facade.billers">
          <ion-label class="ion-padding-top ion-padding-bottom ion-text-wrap" (click)="facade.addPayee(biller)">
            {{biller.name}}
          </ion-label>
        </ion-item>
      </ion-list>
      <div class="no-result-block" *ngIf="searchQuery && !this.facade.searching && facade.billers.length === 0">
        <ion-label class="ion-text-center ion-text-wrap"
          >{{'move-money-module.pay-bills.bill-pay.no-result-found-text' | translate}}</ion-label
        >
      </div>
    </div>

    <div class="my-bill-accounts-wrapper">
      <ion-item lines="none" class="ion-no-padding">
        <ion-label><b>{{'move-money-module.pay-bills.bill-pay.my-bill-accounts-list-title' | translate}}</b></ion-label>
      </ion-item>
      <ion-list>
        <ion-item *ngFor="let billAccount of facade.myBillAccounts">
          <ion-label
            class="ion-padding-top  ion-padding-bottom ion-text-wrap"
            (click)="facade.goToBillPayment(billAccount)"
          >
            {{billAccount.biller.name}}
          </ion-label>
          <ion-icon slot="end" name="pencil" (click)="facade.editBillAccount(billAccount)"></ion-icon>
          <ion-icon slot="end" name="trash-outline" (click)="facade.deleteBillAccount()"></ion-icon>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
