.content-wrapper {
  .add-payees-block {
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    ion-fab-button {
      height: 40px;
      width: 40px;
    }
    .title {
      margin-left: 20px;
      font-family: 'Averta W05 Bold5204651';
      font-size: 1.6rem;
      color: #435cdc;
    }
  }
  .my-payees-block {
    .title {
      color: #8c90a3 !important;
      font-family: 'Averta W05 Bold5204651' !important;
      font-size: 1.4rem !important;
      margin-bottom: 15px;
    }
    .payee-item {
      height: 70px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #eaecf7;
      .avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        width: 40px;
        background-color: #eaecf7;
        border-radius: 50%;
        text-transform: uppercase;
        margin-right: 10px;
        font-family: 'Averta W05 Bold5204651';
        font-size: 1.4rem;
        color: #435cdc;
      }
      .payee-name {
        font-family: 'Averta W05 Regular';
        font-size: 1.6rem;
        text-transform: uppercase;
      }
    }
    .payee-item:last-child {
      border-bottom: none;
    }
  }
}
