.content-wrapper {
  font-size: 1.4rem;
  .payee-block {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    .payee-icon {
      height: 40px;
      width: 40px;
      background-color: #eaecf7;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 15px;
        width: 15px;
      }
    }
    .payee-info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 20px;
      .payee-name {
      }
      .payee-action {
        color: #435cdc;
      }
    }
  }
  .payment-amount-block {
    margin-bottom: 20px;
    .title {
      color: #8c90a3;
      font-family: 'Averta W05 Regular';
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 16px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    ion-input {
      font-weight: bold;
      font-size: 30px;
      letter-spacing: 0.2px;
      line-height: 30px;
      color: #070a18;
      margin: 0;
      caret-color: #435cdc;
      --placeholder-color: #d4d7e2;
      --padding-top: 0;
      --padding-bottom: 0;
      --padding-start: 0;
      --padding-end: 0;
      input {
        padding: 0;
      }
    }
  }
  .calendar-block {
    display: flex;
    flex-direction: column;
    .title {
      color: #8c90a3;
      font-family: 'Averta W05 Regular';
      font-size: 11px;
      font-weight: bold;
      letter-spacing: 1px;
      line-height: 16px;
      margin-bottom: 20px;
      text-transform: uppercase;
    }
    .calendar-content {
      display: flex;
      align-items: center;
      img {
        height: 25px;
        width: 20px;
      }
      .date-info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .date {
          width: 100%;
          position: relative;
          ion-datetime {
            width: 100%;
            margin: 0;
          }
        }
        .date-action {
          z-index: 33;
          position: relative;
          color: #435cdc;
        }
      }
    }
  }
  .repeat-toggle-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .info-block {
    border-top: 1px solid #ebedf2;
    padding-top: 20px;
    display: flex;
    align-items: center;
    ion-icon {
      color: #8c90a3;
      font-size: 30px;
      margin-right: 20px;
    }
  }
}
