.add-payee-form {
  .form-title {
    margin: 20px 0;
    font-family: 'Averta W05 Regular';
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 16px;
  }

  .form-item {
    margin-bottom: 10px;
  }
}
.payee-type-radio {
  display: flex;
  .title {
    padding-top: 5px;
    margin-right: 10px;
    font-family: 'Averta W05 Regular';
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 16px;
  }
  ion-item {
    --min-height: 30px;
    --inner-padding-bottom: 0;
    --inner-padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-top: 0;
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
    ion-label {
      color: #070a18 !important;
      display: flex;
      align-items: center;
      height: 18px !important;
      font-family: 'Averta W05 Regular' !important;
      font-size: 1.5rem !important;
      text-transform: capitalize !important;
    }
  }
}
.grey-outline-button {
  color: #fe4c55;
}
